<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
  <%= render 'form', page: @page %>
  <hr>
  <%= link_to(t('.administrate_pages'), admin_pages_path,
                                        class: 'btn secondary') %>
</div>
