<%= title("Manual server refresh") %>

<h1>Manual server refresh - 
  <%if @success%>
    Success!
  <%else%>
    Failed!
  <%end%>
</h1>
<div id="col-md-12" class="console">
  <%for line in @output.split("\n")%>
    <div id="row">
      <%=line%>
    </div>
  <%end%>
</div>
