<% if @saved == true %>
$('#nomination-form').fadeOut('slow');
$('#status').hide().html("<h4><%=I18n.t('nomination.thank_you')</h4>").fadeIn('slow');
<%else%>
$('#status').hide().html("<p><%=@nomination.errors%></p>").fadeIn('slow');
<%end%>
