<% if @saved == true %>
$('#nomination-form').fadeOut('slow');
$('#status').hide().html("<h4>Tack för din nominering!</h4>").fadeIn('slow');
<%else%>
$('#status').hide().html("<p>Namn och e-post måste fyllas i och en post måste väljas.</p>").fadeIn('slow');
<%end%>