<% title("Bane") %>
<div class="headline headline-md">
	<h1>Bane</h1>
</div>
	<div class="col-md-8">
	<img src="https://scontent-b-ams.xx.fbcdn.net/hphotos-frc3/t1.0-9/404732_10151193548352980_1331722002_n.jpg">
	</div>