<%= render 'phrasing/initializer'%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Cafémästeriet</h1>
			<div class="search-blocks search-blocks-top-orange">
				<div class="col-md-12">
					<div class="col-md-8">
						<div class="row">
							<%= phrase('cafe1')%>
						</div>
						<!-- row -->
					</div>
					<!-- col-md-7 -->
					<div class="col-md-4">
						<div class="row">

							<div class="headline headline-md">
								<h4>Cafémästare: <b>Edward Ekstedt</b><a href="mailto:cafe@fsektionen.se"><i class="fa fa-envelope"></i></a></h4>
							</div>
							<%= phrase('cafeordf')%>
							<%= image_tag'profpics/Edward.jpg', :class => "profile_img"%>
							<hr>
						</div>
						<div class="row">
							<div class="headline headline-md">
								<h4>Jobba i caféet?: <a href="http://tinyurl.com/hilbertcafelp4"><i class="fa fa-coffee"></i></a></h4>
							</div>
						</div>
					</div><!-- col-md-5 -->
				</div><!-- col md-12 -->
			</div><!-- Search-blocks -->
		</div><!-- col-md-9 -->
	</div><!-- row -->
</div><!-- container -->