<% title("Dokument") %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="search-blocks blocks-top-orange" style='text-aling:center'>
        Här kommer vi lägga länkar till viktiga dokument som grafisk profil, policydokument, handlingar, stadgar och reglemente.
	    </div>
    </div>
	</div>
</div>