         <%= render 'phrasing/initializer'%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Frekvent Anmodad Qnskap</h1>
			<div class="search-blocks search-blocks-top-orange">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-7">
							<%=phrase('faq')%>
						</div> <!-- col-md-3 -->
					</div> <!-- row -->
				</div> <!-- col md-12 -->
			</div> <!-- Search-blocks -->
		</div> <!-- col-md-9 -->
	</div> <!-- row -->
</div> <!-- container -->