<% if current_user.admin? || current_user.moderator?(:foset) %>        
        <%= render 'phrasing/initializer'%>
<% end %> 
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Fös</h1>
			<div class="search-blocks search-blocks-top-orange">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-7">
							<%=phrase('fos1')%>
						</div> <!-- col-md-3 -->						
						<div class="col-md-5">							
								<div class="headline headline-md"><h4>Överfös: <b>Linus Blomgren</b> <a href="mailto:overfos@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
								<%=phrase('overfos')%>														
						</div> <!-- col-md-6 -->

					</div> <!-- row -->
				</div> <!-- col md-12 -->
			</div> <!-- Search-blocks -->
		</div> <!-- col-md-9 -->
	</div> <!-- row -->
</div> <!-- container -->