<% title('Utskott') %>

<div class="container">
	<h1>Fös</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="row">
			<div class="col-md-7">
				<%=phrase('fos1')%>
			</div> <!-- col-md-3 -->						
			<div class="col-md-5">							
					<div class="headline headline-md"><h4>Överfös: <b>Linus Blomgren</b> <a href="mailto:overfos@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
					<%=phrase('overfos')%>
					<%= image_tag'profpics/Linus.jpg', :class => "profile_img"%>
					<hr>														
			</div> <!-- col-md-6 -->
		</div> <!-- row -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->
