<% title('L채nkar') %>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="search-blocks blocks-top-orange" style='text-aling:center'>
        L채nkar till viktiga saker, som <a href="http://www.tlth.se/kaffe">finns det kaffe p책 k책ren?</a> o. dyl.		
	     </div>
     </div>
	</div>
</div>