        <%= render 'phrasing/initializer'%>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Likabehandlingsombud</h1>
			<div class="search-blocks search-blocks-top-orange">
				<div class="col-md-4">
					<div class="row">							
							<a href="mailto:libo@fsektionen.se"><%=image_tag"layout/mail_120px.png"%></a>						
					</div> <!-- row -->
				</div> <!-- col md-12 -->
			</div> <!-- Search-blocks -->
		</div> <!-- col-md-9 -->
	</div> <!-- row -->
</div> <!-- container -->
