<div class="container">
	<h1>Likabehandlingsombud</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
					<h4>V책ra likabehandlingsombud heter Alice Herdenberg, F13, och Sara Ljunggren, Pi13.</h4>
					<h4>Du kommer l채ttast i kontakt med dem via formul채ret h채r:<br> <%= render partial: "contacts/kontakt", locals: {name: 'Likabehandlingsombud'}%></h4>							
			</div> <!-- row -->
		</div> <!-- col md-12 -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->
