<% title("Utskott") %>

<div class="headline headline-md">
	<h1>Likabehandlingsombud</h1>	
</div>
<div class="container">
	<div class="row">	
		<a href="mailto:libo@fsektionen.se"><%=image_tag"layout/mail_120px.png"%></a>
	</div>
</div>
