<% title('Utskott') %>
<%= render 'phrasing/initializer'%>
<div class="container">
	<h1>Näringslivsutskottet - FNU</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="row">
			<div class="col-md-7">
				<%=phrase('nfu1')%>
			</div> <!-- col-md-3 -->						
			<div class="col-md-5">							
					<div class="headline headline-md"><h4>Näringslivsansvarig: <b>Erik Söderberg</b>  <a href="mailto:fnu@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
					<%=phrase('nfuordf')%>	
					<%= image_tag'profpics/ErikS.png', :class => "profile_img"%>
					<hr>													
			</div> <!-- col-md-6 -->
		</div> <!-- row -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->