<% provide(:title, 'Om') %>
<div class="col-md-8 col-md-offset-2">
	<div class="headline"><h1>Om</h1></div>	
    <p>F-sektionen är en ideel förening för studenter som läser något av civilingenjörsprogrammen Teknisk Fysik, Teknisk Matematik eller Teknisk Nanovetenskap och har till ändamål att främja kamratskap bland medlemmarna och tillvarata medlemmarnas gemensamma intressen. Sektionen är belägen i Mattehuset och här hittar du bland annat uppehållsrum, Hilbert Café - här kan du köpa bland annat gott kaffe och goda baguetter, mikrovågsugnar och gött häng. F-sektionen har i dagsläget åtta olika utskott samt en grupp som kallas kärnstyrelsen som alla har hand om var sitt område. Varje sådant utskott leds av en utskottsordförande som sitter med i sektionens styrelse. Styrelsen tar beslut i frågor som rör hela sektionen centralt. Som medlem kan du välja att vara väldigt aktiv och engagerarad, lite lagom eller kanske bara delta på något enstaka event. Vi hoppas att du ska trivas på sektionen! Om du har några frågor är det bara att höra av sig, se fliken "Kontakt", eller sväng förbi SK som ligger bredvid mikrorummet så hittar du nästan alltid någon från styrelsen där!</p>
	<p>Johan Andersson<br>
		Ordförande 2014
	</p>
</div> <!-- col md-12 -->