<div class="headline">
  <h1><%= title('Sekretessvillkor för F-sektionen.se') %></h1>
</div>

<p>
  F-sektionen inom TLTH, inom detta dokument även kallad “<i>F-sektionen</i>”, “<i>sektionen</i>”, eller “<i>vi</i>”, behöver samla in och behandla personuppgifter om de slutanvändare, nedan kallade “<i>användare</i>”, som använder föreningens webbsida på domänen <a href="https://fsektionen.se">fsektionen.se</a> och/eller den på Android och iOS publicerade applikationen (“<i>appen</i>”) <i>F-sektionen</i>.
</p>

<p>
  F-sektionens hantering av personuppgifter regleras av styrdokumentet “<i>Regler för hantering av personuppgifter</i>” som hittas i <%= link_to 'dokumentarkivet', documents_path %> på <a href="https://fsektionen.se">fsektionen.se</a>. I det regeldokumentet  finns information om registerutdrag och hantering av personuppgiftsincidenter.
</p>

<p>
  Dessa villkor behandlar vilka personuppgifter som samlas in via sektionens digitala tjänster, varför de behöver samlas in, samt vilka som kan komma åt personuppgifterna.
</p>

<p>
  Alla personuppgifter samlas in genom formulär på webbsidan som användaren själv väljer att fylla i. Namn, startår, program och profilbild kan visas av samtliga registrerade användare på webbsidan, och används för att identifiera användaren då denne genomför olika aktiviteter på webbsidan. Om användaren har någon funktionärspost på sektionen visas även denna i anslutning till användarens namn, startår och program.
</p>

<p>
  Användarens e-mailadress och LUCAT-ID kan visas av F-sektionens webbansvariga, valberedning, bilansvariga, styrelse och nämnd. Valberedningen kan enbart se e-mail och LUCAT-ID då användaren har valt att kandidera till en funktionärspost. Bilansvariga kan enbart se e-mail och LUCAT-ID då användaren har lagt in en förfrågan om bilbokning. Styrelsen och nämnden kan enbart se e-mail och LUCAT-ID då användaren har skapat en förfrågan om lokalbokning. I övrigt används e-mailen som användarnamn för inloggning på webbsidan och för automatiska utskick/bekräftelser då användaren genomför bokningar eller kandidaturer på webbsidan.
</p>

<p>
  Telefonnummer kan visas av webbansvariga, bilansvariga, caféansvariga, styrelse, nämnd, samt medlemmar i gemensamma grupper då användaren givit tillstånd för detta. Bilansvariga kan enbart se telefonnummer då användaren lagt in en förfrågan om bilbokning. Caféansvariga kan enbart se telefonnummer när användaren har anmält sig för att jobba ett pass i Hilbert Café. Styrelse och nämnd kan enbart se telefonnummer då användaren har skapat en förfrågan om lokalbokning.
</p>

<p>
  Matpreferenser visas enbart i samband med evenemangsanmälningar, se nedan.
</p>

<p>
  Evenemangsanmälningar, inklusive namn, matpreferenser, användartyp, grupp och svar kan ses av webbansvariga samt F-sektionens styrelse och nämnd. Uppgifterna används vid planering av evenemang för att beräkna antalet intresserade, se till att rätt mat serveras och för att ordna gruppindelningar. Denna information kan tillfälligt delas med andra funktionärer inför och under evenemang.
</p>

<p>
  Teknisk data som antal inloggningar, användarens senaste IP-adress och registrerade mobilenheter samlas in automatiskt och kan enbart ses av F-sektionens webbansvariga. Denna data samlas in av säkerhetsskäl och för att möjliggöra automatiska utskick av pushnotifikationer om användaren så önskar.
</p>

<p>
  Personuppgifterna lagras under hela användarens medlemstid på F-sektionen och/eller så länge användaren är aktiv på F-sektionens webbsida. Webbansvariga rensar regelbundet bort inaktiva användare.
</p>

<p>
  Vid ändringar av dessa sekretessvillkor kommer slutanvändaren att meddelas på webbsidan och i appen. Den nya versionen av villkoren behöver då godkännas för att användaren ska kunna fortsätta använda våra tjänster.
</p>

<p>
  Med bilansvariga avses bilförman, prylmästare, sektionsordförande och kassör.
  Med caféansvariga avses cafémästare, vice cafémästare samt dagsansvariga i caféet, s.k. nyckelpigor.
  Med webbansvariga avses spindelförman, spindelmännen samt prylmästaren.
</p>


