<div class="headline">
  <h1><%= title('Sekretesspolicy') %></h1>
</div>

<div class="headline">
  <h3>Slutanvändarens integritetspolicy</h3>
</div>
<p>
  Vi har skapat denna sekretesspolicy för att skydda slutanvändarens integritet. Vänligen läs igenom detta dokument för att lära dig mer om vår integritetspolicy och hur vi hanterar den personliga information som samlats in från våra användare.
</p>

<div class="headline">
  <h3>Vad omfattar policyn?</h3>
</div>
<ul>
  <li>Denna sekretesspolicy täcker vår behandling av personlig information som samlas in av oss genom våra webbplatser och appar.</li>
  <li>Denna sekretesspolicy gäller inte för företag som inte är under vår kontroll, eller av personer som inte är anställda av oss, inklusive eventuell tredje part.</li>
</ul>

<div class="headline">
  <h3>Insamling och användning av personuppgifter</h3>
</div>
<ul>
  <li>Du kan besöka våra webbplatser utan att lämna ut någon personlig information.</li>
  <li>Vi behöver viss personlig information om du vill registrera ett konto, använda våra appar, få vårt nyhetsbrev, eller använda vissa tjänster fult ut. Om och när så krävs, kan denna information inkludera dina kontaktuppgifter.</li>
  <li>Vi kommer att använda denna information för att besvara dina frågor, för att förse dig med efterfrågade tjänster och för att ställa in ditt konto.</li>
  <li>Genom att besöka våra tjänster och frivilligt förse oss med begärda personuppgifter, samtycker du till insamling och användning av information i enlighet med denna Integritetspolicy.</li>
</ul>

<div class="headline">
  <h3>Insamling och användning av icke-personlig information</h3>
</div>
<ul>
  <li>Vi tar automatiskt emot och registrerar vissa typer av icke-personlig information på våra servrar. Detta innefattande din IP-adress, cookies, hårdvaruinformation och webbsidan du har begärt.</li>
  <li>Vi kan använda denna information för att anpassa det innehåll du ser och för att uppfylla din begäran avseende vissa produkter och tjänster. Vi kopplar inte dessa icke-personliga uppgifter till någon personlig information som samlas in från dig.</li>
  <li>Tredje parts cookieanvändning är föremål för deras egen sekretesspolicy, och vi tar inget ansvar för deras användning.</li>
</ul>

<div class="headline">
  <h3>Information om delande och avslöjande</h3>
</div>
<ul>
  <li>Vi kan dela personlig information för dessa ändamål endast med tredje parter vars sekretesspolicy är förenlig med våran eller som accepterar att följa vår policy när det gäller personlig information.</li>

  <li>Vi kan på annat sätt lämna ut din personliga information när:
    <ul>
      <li>Vi har ditt uttryckliga samtycke till att lämna ut information för ett visst ändamål;</li>
      <li>Vi måste svara på förelägganden, domstolsbeslut eller andra juridiska processer;</li>
      <li>Vi behöver skydda den personliga säkerheten för användare av våra tjänster eller försvara rättigheter eller egendom som härrör från oss;</li>
      <li>Vi finner att din aktivitet på våra webbplatser bryter mot våra användarvillkor eller någon av våra riktlinjer för användning som gäller för motsvarande produkter eller tjänster.</li>
    </ul>
  </li>
</ul>

<div class="headline">
  <h3>Samtycke</h3>
</div>
<ul>
  <li>Om du inte samtycker till insamling, användning eller utlämnande av dina personuppgifter som beskrivs i denna policy, ska du inte uppge någon personlig information till oss.</li>
  <li>Om du har skickat in personuppgifter till oss och vill sluta att medge användning eller utlämnande som beskrivs häri, vänligen meddela oss.</li>
</ul>

<div class="headline">
  <h3>Säkerhet</h3>
</div>
<ul>
  <li>Vi vidtar en rad olika säkerhetsåtgärder för att skydda dina personliga uppgifter. Vi använder oss av avancerade krypteringsmetoder för att skydda känsliga uppgifter som överförs över internet.</li>
  <li>Endast medarbetare som ska uträtta ett specifikt jobb får tillgång till personligt identifierbar information. De datorer/servrar som används för att lagra personligt identifierbar information lagras i en säker miljö.</li>
</ul>

<div class="headline">
  <h3>Ändringar till denna sekretesspolicy</h3>
</div>
<ul>
  <li>Vi kan när som helst, utan föregående meddelande till dig och efter eget gottfinnande, ändra denna policy från en tid till en annan.</li>
  <li>Vid ändring av denna policy kommer relaterad information publiceras på webbplatsen en vecka innan ändringarna träder i kraft.</li>
  <li>Din fortsatta användning av våra webbplatser gör att du accepterar sådana ändringar och innebär att du accepterar detta.</li>
</ul>
