<% title('Utskott') %>
<%= render 'phrasing/initializer'%>
<div class="container">
	<h1>Prylmästeriet</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="row">
			<div class="col-md-7">
				<%=phrase('pryl1')%>
			</div> <!-- col-md-3 -->						
			<div class="col-md-5">							
					<div class="headline headline-md"><h4>Prylmästare: <b>Erik Wilson</b> <a href="mailto:prylm@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
					<%=phrase('prylmastare')%>
					<%= image_tag'profpics/Erik.png', :class => "profile_img"%>
					<hr>														
			</div> <!-- col-md-6 -->

		</div> <!-- row -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->