<% title("Utskott") %>

<div class="headline headline-md">
<h1>Prylmästeriet</h1>
  Prylmästeriet är det bästa utskottet, för här lever och verkar Spindelman. <a href="mailto:spindelman@fsektionen.se"><i class="fa fa-envelope"></i></a><br>
  
  Spindelman är de bästa funktionärerna. Särskilt temporära spindelman, aka Spiderpigs. 
  De är nämligen nästan lika mycket spindelman som Spindelman, men på mycket kortare tid => Mycket effektivare
</div>