<% title('Utskott') %>
<%= render 'phrasing/initializer'%>
<div class="container">
	<h1>Sexmästeriet</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="row">
			<div class="col-md-7">
				<%=phrase('sexet1')%>
			</div> <!-- col-md-3 -->						
			<div class="col-md-5">							
					<div class="headline headline-md"><h4>Sexmästare: <b>Michaela Hällevall</b> <a href="mailto:sex@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
					<%=phrase('sexetordf')%>
					<%= image_tag'profpics/Michaela.png', :class => "profile_img"%>
					<hr>																						
			</div> <!-- col-md-6 -->
		</div> <!-- row -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->