<% title('Utskott') %>
<%= render 'phrasing/initializer'%>	 

<div class="container">
	<h1>Studierådet</h1>
	<div class="search-blocks search-blocks-top-orange">
		<div class="row">
			<div class="col-md-8">
				<%=phrase('studierad1')%>
			</div> <!-- col-md-3 -->						
			<div class="col-md-4">
				<div class="row">							
					<div class="headline headline-md"><h4>Utbildningsminister: <b>Sara Mikaelsson</b> <a href="mailto:um@fsektionen.se"><i class="fa fa-envelope"></i></a></h4></div>
					<%=phrase('studierordf')%>
					<%= image_tag'profpics/Sara.png', :class => "profile_img"%>
					<hr>								
				</div>
				<div class="row">
					<div class="headline headline-md"><h4>Studierådsordförande:</h4></div>
						<h5><li>Martin Heydman - F</li></h5>
						<h5><li>Johanna Nordlander - N</li></h5>
						<h5><li>Samuel Wiqvist - Pi</li></h5>			
				</div>
				<div class="row">
					<div class="headline headline-md"><h4>PR-ansvarig:</h4> </div>
					Ragnar Ferrand-Drake <a href="mailto:ragnar.f.drake@gmail.com"><i class="fa fa-envelope"></i></a>
				</div>																						
			</div> <!-- col-md-6 -->
		</div> <!-- row -->
	</div> <!-- Search-blocks -->
</div> <!-- container -->
