<div class="headline headline-md">
<h1>Studierådet</h1>
</div>
<div class="container">
	<div class ="row">
		<div class="col-md-3">		
			<h4>Utbildningsminister:</h4> <h4>Sara Mikaelsson</h3><br>
		</div>
		<div class="col-md-3">
			<h4>Studierådsordförande:</h4>
			<h5>
				<li>Martin Heydman - F</li>
				<li>Johanna Nordlander - N</li>
				<li>Samuel Wiqvist - Pi</li>
			</h5>
		</div>
		<div class="col-md-3">
			<h4>PR-ansvarig</h4><h5>Ragnar Ferrand-Drake <a href="mailto:ragnar.f.drake@gmail.com"><i class="fa fa-envelope"></i></a></h5>
		</div>
	</div>
</div>