<%= render 'phrasing/initializer'%>

<h1>Sektionens utskott</h1>
		<div class="col-md-8">	
			F-sektionens verksamhet sträcker sig över flera stora områden. 
			I dagsläget har sektionen åtta olika utskott samt en grupp som kallas kärnstyrelsen som alla har hand om var sitt område. 
			Varje sådant utskott leds av en utskottsordförande sitter med i sektionens styrelse. 
			Styrelsen tar beslut i frågor som rör hela sektionen centralt. 
			På den här sidan kan du läsa om de olika utskotten och deras verksamhet.<br><br>
			Men man måste inte vara med i ett utskott för att göra något på sektionen.
			Du kan även starta upp projekt inom sektionen om du har en all idé du hade velat genomföra. 
			Känner du att du behöver hjälp eller inte vet hur du ska gå till väga? <br> Kontakta då <a href="mailto:viceordf@fsektionen.se">Vice Ordförande</a>.
		</div>
		<div class="col-md-4">			
			<img src="http://www.fsektionen.se/assets/img/f/fotograf.jpg">
		</div>
<style>
img{
max-width:100%;
}
</style>