<div class="headline">
  <h1><%= title(models_name(Candidate)) %></h1>
</div>

<div class="col-sm-12">
  <%= grid(@candidates_grid) do |g|
    g.column(name: model_name(Position),
             assoc: :position,
             attribute: 'title') do |candidate|
      candidate.position
    end

    g.column name: model_name(User), assoc: :user, attribute: 'firstname',
      filter: false do |candidate|
      link_to(candidate.user, candidate.user)
    end

    g.column name: User.human_attribute_name(:student_id), assoc: :user,
      attribute: 'student_id', filter: false
    g.column name: User.human_attribute_name(:email), assoc: :user,
      attribute: 'email', filter: false
    g.column name: User.human_attribute_name(:phone), assoc: :user,
      attribute: 'phone', filter: false
    g.column name: Candidate.human_attribute_name(:created_at),
      attribute: 'created_at', filter:false
    g.column name: model_name(Council), assoc: :position, attribute: 'council_id',
      filter: false do |candidate|
      link_to(candidate.council, candidate.council)
    end
    g.column name: Position.human_attribute_name(:board),
      filter: false do |candidate|
      yes_no(candidate.position.board)
    end
    g.column(name: Candidate.human_attribute_name(:elected_by), assoc: :position,
             attribute: 'elected_by', custom_filter: :auto) do |candidate|
      t("position.#{candidate.position.elected_by}")
    end
  end -%>
<%= link_to(t('.edit_election'), admin_election_path(@election),
                                 class: 'btn secondary')%>
</div>
