<% provide(:title, model_name(Election)) %>
<div class="col-md-10 col-md-offset-1 col-xs-12 reg-page">
  <div class="headline">
    <h3><%= t('election.new') %></h3>
  </div>

  <%= render 'form', election: @election %>

  <%= link_to(t('election.index'), admin_elections_path,
              class: 'btn secondary') %>
</div>
