<div class="col-md-10 col-md-offset-1 col-sm-1+ col-sm-offset-1 reg-page">
  <div class="row">
  <h1><%= title(models_name(Nomination)) %></h1>
    <%= grid(@nominations_grid) do |g|
      g.column name: model_name(Post), filter: false do |nomination|
        nomination.post
      end
      g.column name: Nomination.human_attribute_name(:name),
               attribute: 'name', filter: false
      g.column name: Nomination.human_attribute_name(:email),
               attribute: 'email', filter: false
      g.column name: Nomination.human_attribute_name(:created_at),
               attribute: 'created_at', filter: false do |nomination|
        l(nomination.created_at)
      end
    end -%>
  </div>
  <%=link_to(t('.back_to_election'), admin_election_path(@election), class:'btn btn-u')%>
</div>
