<div class="headline">
  <h1><%= title(models_name(Nomination)) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= link_to(t('.back_to_election'), admin_election_path(@election), class:'btn secondary') %>
</div>

<div class="col-md-9 col-sm-12">
  <%= grid(@nominations_grid) do |g|
    g.column name: model_name(Position), assoc: :position,
             attribute: 'title', filter: false
    g.column name: Nomination.human_attribute_name(:name),
             attribute: 'name', filter: false
    g.column name: Nomination.human_attribute_name(:email),
             attribute: 'email', filter: false
    g.column name: Nomination.human_attribute_name(:created_at),
             attribute: 'created_at', filter: false do |nomination|
      l(nomination.created_at)
    end
  end -%>
</div>
