<div class="headline headline-md"><h2>Adminverktyg</h2></div>
<p>
	Just nu har alla access (admin == inloggad)
	<ul class="list">
	  <li><%= link_to "Hantera användare", users_path %></li>
	</ul>
</p>