<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-3 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera din användarprofil',nil, :class => 'reg-header'%>
			<%= render 'form'%>			
			<%= link_to 'Tillbaka till profilen', @profile %>
		</div>
	</div>
</div>