<div class="container">
	<div class="row">
		<div class="col-md-7 col-md-offset-3 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera din användarprofil',nil, :class => 'reg-header'%>
			<% if @no_profile_data %>				  
				  <p>Fyll gärna i dina uppgifter så blir det lättare för sektionen och dig själv med ditt framtida engagemang.</p>	
			<% end %>
			<%= render 'form'%>			
			<%= link_to 'Tillbaka till profilen', @profile %>
		</div>
	</div>
</div>