<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h2> Hej <%=@candidate.profile.name %></h2>

		<p>Du har kandiderat till sektionsposten <%=@candidate.post.title%><br>
			med motiveringen:<br>
			"<%=@candidate.motivation%>"</p><br>
			
		<p>Vad vänlig fyll i en tid för intervju så fort som möjligt på:<br>
			<%=url(@candidate.election.candidate_mail)%></p>
    
  </body>
</html>