<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h3>
      <%= t(:edit, attr: Menu.model_name.human) %>
    </h3>
  </div>
  <%= render('form') %>
  <hr>
  <%= link_to(t('menu.destroy'), menu_path(@menu),
              method: :delete, class: 'btn danger pull-right') %>
  <%= link_to(t('menu.index'), menus_path, class: 'btn secondary') %>
</div>
