<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
      <%= label_tag 'Redigera ment', nil, class: 'reg-header' %>
      <%= render 'form' %>
      <%= link_to 'Tillbaka', :back %>
      <%= link_to (content_tag(:i, nil, class: "fa fa-trash-o") + " Förinta"), @menu,
                  method: :delete, data: {confirm: "Är du säker?"}, class: "btn-u btn-u-small" %>
    </div>
  </div>
</div>
