<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Ny fråga',nil, class:  'reg-header'%>
			<%= render 'form'%>
			<%= link_to 'Tillbaka till faq', faqs_path %>
		</div>
	</div>
</div>
