<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-5 md-margin-bottom-40">
			<h4 class="panel-title">
				<%=@faq.question%> <br><br>
			</h4>
			<%=@faq.answer%> <hr>
			<%if @editor%>
		  	<%= link_to (content_tag(:i, nil, class: "fa fa-edit") + " Redigera fråga"), edit_faq_path(@faq), class: "btn-u btn-u-small pull-right"%>
			<%end%>
			<%= link_to 'Tillbaka till faq', faqs_path %>
		</div>
	</div>
</div>
