<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-5 md-margin-bottom-40">
			<%=@faq.question%> <br>
			<%=@faq.answer%> <hr>

			<%= link_to 'Tillbaka till faq', faqs_path %>
		</div>
	</div>
</div>