<%=form_for(@cwork, url: authorize_cafe_work_url(@cwork), remote: true ) do |f|%>
	<%= f.label 'Kod', class:  'reg-label'%>
	<span id="code"></span> 
<div class="margin-bottom-20">
		<%= f.text_field :access_code, value: nil, class: 'form-control'%>
</div>
<div class="margin-bottom-20">
	<%= f.submit "Auktorisera",class: 'btn-u pull-right' %>
</div>
<%end%>
