<% provide(:title, 'Notiser') %>
<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <h3 class="headline headline-md">
    <%= t(:edit, attr: model_name(Notice)) %>
  </h3>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:index, attr: models_name(Notice)), notices_path, class: "btn btn-u")%>
  <%= link_to(t(:back_to_root), root_url, class: "btn btn-u")%>
</div>
