<% provide(:title, t('notice.title')) %>
<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('notice.new') %></h2>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t('notice.index'), notices_path, class: 'btn secondary') %>
</div>
