<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
  <h3 class="headline headline-md"><%= t(:new, attr: Event.model_name.human) %></h3>
  <%= render 'form'%>
  <%= link_to t(:back), :back %>
</div>
