<div class="col-md-8 col-md-offset-4 col-xs-12 reg-page">
  <h3 class="headline headline-md">
    <%= t(:new, attr: model_name(Event)) %>
  </h3>
  <%= render 'form'%>
  <%= link_to(t(:index, attr: models_name(Event)), :admin_events,
             class: 'btn secondary') %>
</div>
