<div class="col-md-8 col-md-offset-4 col-xs-12 reg-page">
  <h3 class="headline headline-md">
    <%= t(:new_t_attr, attr: model_name(Event)) %>
  </h3>
  <%= render 'form'%>
  <%= link_to(t(:index_attr, attr: models_name(Event)),
              admin_events_path, class: 'btn secondary') %>
</div>
