<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('event.new')) %></h1>
  </div>
  <%= render 'form' %>
  <hr>
  <%= link_to(t('event.index'), admin_events_path,
                                class: 'btn secondary') %>
</div>
