<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Dokument</th>
      <th>Taggar</th>
      <th>Publikt?</th>
      <th>Antagen</th>
      <th>Reviderad</th>
      <th>Uppladdad</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>

