<div class='col-md-8 col-md-offset-2 col-sm-12 reg-page'>
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', meeting: @meeting %>

  <hr>
  <%= link_to(t('.administrate'), admin_meetings_path, class: 'btn secondary') %>
</div>
