<div class="col-md-10 col-md-offset-1 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= @song %></h1>
  </div>
  <h3>Kategori: <% simple_format(@song.category) %></h3>
  <div class="col-md-12">
    <%= simple_format(@song.content) %>
  </div>
</div>