<div class="col-md-12 col-sm-12 reg-page">
  <div class= "headline">
    <h1><%= t('.title')%></h1>
  </div>
  <div class="col-md-12">
    <%= grid(@fruits, hide_submit_button: true, hide_reset_button: true) do |g|
      g.column(name: t('.name'), attribute: 'id') do |fruit|
        link_to(fruit.name, fruit_path(fruit))
      end

      g.column(name: t('.mold')) do |fruit|
        fruit.isMoldy
      end
    end %>

    <button class="wg-external-submit-button btn primary" data-grid-name="grid">
      <%= t('wice_grid.filter') %>
    </button>

    <button class="wg-external-reset-button btn secondary" data-grid-name="grid">
      <%= t('wice_grid.reset_filter') %>
    </button>
  </div>
</div>
