<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1> <%= @fruit.name%> </h1>
  </div>

  <%= if @fruit.is_moldy
  t('.moldy')
  else
  t('.not_moldy')
  end -%>
</div>