<div class="row margin-bottom-20 center">
  <%= link_to("Admin - start", admin_car_path, class: "btn btn-u") %> <%= link_to("Bilbokning - start", bil_path, class: "btn btn-u") %> <%if @rent.present?%> <%= link_to("Bokning - vanlig vy", rent_path(@rent), class: "btn btn-u") %> <%end%>
</div>