<h2>Bilbokning - ID <%= rent.id %>
<%= link_to('Redigera bokning', admin_rent_path(@rent), class: 'btn btn-u') %>
<% if rent.service %><span class='label rounded label-danger pull-right'>Service</span>
<% elsif rent.status == 'Nekad' %> <span class='label rounded label-danger pull-right'>Nekad</span>
<% elsif rent.status == 'Ej best채md' %>
  <span class='label rounded-2x label-warning pull-right'>Ej best채md</span>
<% elsif rent.status == 'Bekr채ftad' %>  <span class='label rounded-2x label-success pull-right'>Bekr채ftad</span>
<% end %>
</h2>
<%= render 'rents/renter_table', rent: @rent %>
