<% provide(:title, 'Admin - Bilbokning') %>
<div class="col-md-6 col-md-offset-3 col-xs-6 reg-page">
  <div class="row">
    <%= render 'form' %>
  </div>
  <%= link_to("Admin - Bilbokning", :admin_car,
              data: {no_turbolink: true}, class: "btn btn-u pull-right") %>
</div>
