<% provide(:title, t('rent.admin.title')) %>
<div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 reg-page'>
  <div class='row'>
    <%= render 'links' %>
    <%= render 'form' %>
  </div>
</div>
