<%= title(models_name(News)) %>
<div class="headline">
  <h3><%= models_name(News) %></h3>
</div>
<%= link_to(t(:new_attr, attr: model_name(News)), new_admin_news_path, class: 'btn secondary') %>

<%= grid(@news_grid) do |g|
  g.column name: News.human_attribute_name(:title), attribute: 'title', filter: false
  g.column name: News.human_attribute_name(:url), attribute: 'url', filter: false
  g.column name: News.human_attribute_name(:image), attribute: 'image', filter: false do |news|
    if news.image.present?
      t(:yes)
    else
      t(:no)
    end
  end
  g.column name: News.human_attribute_name(:created_at), attribute: 'created_at', filter: false do |news|
    l(news.created_at)
  end
  g.column name: News.human_attribute_name(:user), assoc: :user,
    attribute: 'id', filter: false do |post|
    if post.user.present?
      link_to(post.user, user_path(post.user))
    end
  end
  g.column name: News.human_attribute_name(:updated_at), attribute: 'updated_at', filter: false do |news|
    l(news.updated_at)
  end
  g.column name: t(:edit) do |link|
    link_to(t(:edit), edit_admin_news_path(link))
  end
end -%>
