<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= render('/admin/news/sidebar', current: :new) %>
</div>

<div class="col-md-9 col-sm-12">
  <%= render 'form', news: @news %>
</div>
