<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h3>
      <%= t(:new_attr, attr: model_name(PageElement)) %>
    </h3>
  </div>

  <%= render 'form' %>
  <hr>
  <%= link_to(t(:index, attr: models_name(PageElement)),
              page_page_elements_path(@page), class: 'btn secondary')%>
</div>
