<% breadcrumb_bar :edit_tag, @tag do %>
  Redigera taggen <i><%= @tag.name %></i>
<% end %>

<div class="col-md-6">
  <%= render 'form' %>
</div>
<div class="col-md-3"></div>
<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
