<% breadcrumb_bar 'Alla taggar', :tags %>

<div class="col-md-9">
  <section>
    <header class="headline headline-md"><h3>Taggar</h3></header>
    <p>
      Nedan finner du alla taggar som är inlagda i systemet.
    </p>
    <p>
      <%= render(partial: 'tag', collection: @tags, as: :tag, spacer_template: 'shared/comma') || 'Inga taggar inladga i systemet' %>
    </p>
  </section>

  <section>
    <p>
      <%= link_to 'Skapa ny tag', new_tag_path, class: 'btn btn-u' %>
    </p>
  </section>
</div>

<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
