<p>Hej <%= @renter.firstname %>,</p>
<p>
  Notera att returdatumet för ett verktyg som du lånat har passerat. Vänligen returnera detta eller be om förlängd utlåningstid.
</p>
<p>
  Med vänliga hälsningar,<br>
  Din Prylmästare
</p>

<hr>

<p>Hello <%= @renter.firstname %>,</p>
<p>
  Please note that the return date for a tool that you have rented has passed. Either return the tool or ask for an extended renting period.
</p>
<p>
  Best Regards,<br>
  Your Head of Facilities
</p>