<div class="headline">
  <h1>
    <%= title(t('.title')) %>
    <small>- <%= @introduction.try(:year) %></small>
  </h1>
</div>

<div class="col-md-2 col-xs-12">
  <% if @introductions.present? %>
    <%= render 'introduction_list', introductions: @introductions %>
  <% end %>
</div>

<div class="col-md-10 col-xs-12">
  <%= grid(@grid, class: 'groups-grid') do |grid|
    grid.row_attributes do |g|
      {class: can?(:show, g) ? 'member' : ''}
    end
    grid.column(name: Group.human_attribute_name(:number), attribute: 'number', filter: false)
    grid.column(name: Group.human_attribute_name(:name), attribute: 'name', filter: false) do |g|
      can?(:show, g) ? link_to(g.name, group_path(g)) : g.name
    end
  end -%>
</div>
