<h1>big snopp</h1>
<p>Fill it with blood</p>

<%= if !current_user.donated
        link_to("Jag har donerat blod!",  anvandare_bloodfeud_confirm_donation_path) 
    else
        link_to("Jag har inte donerat blod, ångra!",  anvandare_bloodfeud_unconfirm_donation_path) 
    end %>