<div class='row portfolio-item margin-bottom-50'>
  <div class='col-md-offset-2 col-md-5 md-margin-bottom-40'>
    <%= render @user %>
  </div>
</div>

<% if @user.avatar? %>
  <div class='col-md-3'>
    <div class='carousel slide carousel-v1' id='myCarousel'>
      <div class='carousel-inner'>
        <div class='item active'>
          <%= image_tag avatar_user_path(@user, style: 'original') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
