<div class="headline">
  <h2><%= @user.to_s %></h2>
</div>
<% if @user.avatar? %>
  <div class="col-md-6 col-xs-12">
    <%= render '/users/user', user: @user, no_name: true %>
  </div>
  <div class="col-md-6 col-xs-12">
    <%= image_tag(avatar_user_path(@user, style: 'original'),
                  class: 'img-responsive') %>
</div>
<% else %>
  <div class="col-md-6 col-md-offset-3 col-xs-12">
    <%= render '/users/user', user: @user, no_name: true %>
  </div>
<% end %>
