<div class="row">
  <div class="col-md-offset-1 col-md-5 md-margin-bottom-40">
    <% if @user == current_user %>
      <div class="headline headline-md"><h4><%= t('user.public_information') %></h4></div>
    <% end %>
    <%= render @user %>
    <% if @user.avatar? %>
      <%= image_tag(avatar_user_path(@user, style: 'original')) %>
    <% end %>
  </div>
  <% if @user == current_user %>
    <div class="col-md-offset-1 col-md-5 md-margin-bottom-40">
      <div class="margin-bottom-20">
        <%= link_to (fa_icon('edit') + ' Redigera'), own_user_path, class: "btn-u btn-u-small" %>
      </div>
    </div>
  <% end %>
</div>
