<h1>
<%=t('.conf') %>
</h1>

<%# <span class="link"><a target="blank" href="/anvandare/bloodfeud"> <%= t('.bloodlink') </a> %>

<%= link_to(t('.confirm'),  anvandare_bloodfeud_confirm_donation_path) %>