<div class="col-md-12">
  <ul class="list-inline list-unstyled black-link council">
      <% councils.each do |u| %>
        <li><%= link_to(u.title, council_path(u)) %></li>
      <% end %>
  </ul>
</div>
