<div class="col-md-12">
  <ul class="council list-inline list-unstyled">
    <% councils.each do |u| %>
      <% if current && u == current %>
        <li class="current"><%= link_to(u.title, council_path(u)) %></li>
      <% else %>
        <li><%= link_to(u.title, council_path(u)) %></li>
      <% end %>
    <% end %>
  </ul>
</div>
