<% provide(:title, @council.to_s) %>

<div class="col-md-12">
  <% if @council.page.present? %>
    <div class="row">
      <%= render @council.page %>
    </div>
  <% end %>
  <% if @council.posts.present? %>
    <div class="row">
      <%= render 'posts/table', posts: @council.posts %>
    </div>
  <% end %>
</div>
