<% provide(:title, 'Bilbokning') %>
<div class="col-md-8 col-md-offset-2 col-xs-12">
  <div class="row">
    <%= render 'form' %>
  </div>
  <hr>
  <div class="row">
    <%= link_to("Startsida för Bilbokning", :bil, data: {no_turbolink: true}, class: "btn btn-u") %>
  </div>
</div>
