<% provide(:title, model_name(Rent)) %>
<div class='col-md-8 col-md-offset-2 col-sm-12 reg-page'>
    <%= render 'form' %>
    <hr>
    <%= link_to(t('rent.back_to_index'), :rents, data: { no_turbolink: true },
                                               class: 'btn secondary') %>
</div>
