<% provide(:title, Rent.model_name.human) %>
<div class="col-md-8 col-md-offset-2">
  <div class="row margin-bottom-20">
    <%= render 'form' %>
  </div>
  <div class="row">
    <%= link_to(t('rent.back_to_index'), :bil, data: {no_turbolink: true},
                                               class: "btn btn-u") %>
  </div>
</div>
