<% provide(:title, 'Bilbokning') %>
<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 reg-page">
  <div class="row">
    <%= render 'form' %>
  </div>
  <div class="row">
    <%= link_to("Startsida för Bilbokning", :bil, class: "btn btn-u") %>
  </div>
</div>