<% title(t('.title')) %>
<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <%= render @rent %>

  <% if can?(:edit, @rent) %>
    <%= link_to(t('.edit_rent'), edit_rent_path(@rent),
                                 class: 'btn primary') %>
    <hr>
  <% end %>

  <%= link_to(t('.all_rents'), rents_path,
                               class: 'btn secondary') %>

  <% if can_administrate?(:edit, @rent) %>
    <%= link_to(t('.administrate'), admin_rent_path(@rent),
                                    class: 'btn secondary') %>
  <% end %>
</div>
