<% provide(:title, Rent.model_name.human) %>
<div class="col-md-8 col-md-offset-2 reg-page">
  <% if @rent %>
      <%= render @rent %>
      <div class="row">
        <% if can? :edit, @rent %>
            <%= link_to('Redigera', edit_rent_path(@rent), class: 'btn btn-u') %>
            <hr>
        <% end %>
        <%= link_to(t('rent.back_to_index'), :bil, class: 'btn btn-u') %>
        <% if can? :manage, Rent %>
            <%= link_to(t('administrate'), admin_rent_path(@rent), class: 'btn btn-u') %>
        <% end %>
      </div>
  <% end %>
</div>
