.col-md-8.col-md-offset-2
  %h1 Editing External Link

= render 'form'

.col-md-8.col-md-offset-2
  = link_to 'Show', ex_link_path(@ex_link), class: 'btn-u btn-u-green'
  = link_to 'Back', ex_links_path, class: 'btn-u btn-u-default'
