%h1 Listing tags

%table
  %thead
    %tr
      %th Label
      %th Occurence

  %tbody
    - @tags.each do |name, number|
      %tr
        %td= name
        %td= link_to "#{number}", action: 'index', tag: name
%br
