<div class="container row">
	<div id='kalender'></div>
	<hr>
	
	<% if user_signed_in? %>	
	<div class="headline headline-md">
		<h2>Verktyg</h2>
	</div>
	<ul class="list">
		<% if (current_user) && current_user.moderator?(:event) %>
		<li><%= link_to "Nytt event", new_event_path %></li>
		<% end %>
		<li><%= link_to 'Kalenderprenumeration', 'webcal://'+PUBLIC_URL+'/events/export.ics'%></li>
	</ul>	
	<% end %>
</div>