<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Redigera event',nil, :class => 'reg-header'%>
			<%= render 'form'%>
			<%= link_to 'Visa event', @event %><br>
			<%= link_to 'Tillbaka', :back %>
		</div>
	</div>
</div>