<div class="col-md-8">
                    <div class="search-blocks search-blocks-top-sea">
                        <div class="row">
                            <div class="col-md-4 search-img">
                                <%= image_tag "unify/new/img5.jpg", class: "img-responsive" %>
                                <ul class="list-unstyled">
                                   <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">Sea Bordered Box</a></h2>
                                <ul class="list-unstyled search-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                    <div class="search-blocks search-blocks-top-yellow">
                        <div class="row">
                            <div class="col-md-4 search-img">
                                <%= image_tag "unify/new/img5.jpg", class: "img-responsive" %>
                                <ul class="list-unstyled">
                                   <li><i class="fa fa-briefcase"></i> Dell, Google</li>
                                   <li><i class="fa fa-map-marker"></i> New York, US</li>
                                </ul>
                            </div>
                            <div class="col-md-8">
                                <h2><a href="#">Yellow Bordered Box</a></h2>
                                <ul class="list-unstyled search-rating">
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                   <li><i class="fa fa-star"></i></li>
                                </ul>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>
                            </div>
                        </div>                            
                    </div>
                    </div>
