<div class="row">
    <div class="funny-boxes funny-boxes-left-orange">
      <h4><%=link_to(news.title,news)%></h4>
      <%=simple_format(truncate(news.content,length: 140, separator: '', escape: false){ link_to "Läs mer", news })%>
      <ul class="list-unstyled">
        <li><i class="fa fa-user"> </i><%=link_to(news.profile.print,news.profile)%></li>
        <li><i class="fa fa-calendar"></i> <%=news.created_at%></li>
      </ul>
    </div>
</div>