<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= news_dropdown_button(collection: Category.by_type(:news),
                           current: @category) %>
</div>

<div class="col-md-10 col-sm-12 start-page">
  <%= render @news %>
  <%= paginate @news %>
</div>
