<% title(models_name(News)) %>
<div class="headline">
  <h2><%= models_name(News) %></h2>
</div>

<div class="col-md-8 col-md-offset-2 col-xs-12">
  <% @news.each do |news| %>
    <%= render news %>
  <% end %>
</div>
