<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= news_dropdown_button(collection: Category.by_type(:news),
                           current: @category) %>
</div>

<div class="col-md-9 col-sm-12">
  <%= render @news %>
</div>
