<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <%= content_tag(:h2, t(:new, attr: model_name(News))) %>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:index, attr: models_name(News)), news_index_path) %>
</div>
