<div class="container">
	<div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page">
			<%= label_tag 'Ny nyhet',nil, :class => 'reg-header'%>			
			<%= render 'form'%>
			<%= link_to 'Tillbaka till nyheter', news_index_path %>
		</div>
	</div>
</div>