<!-- Modal -->
<div class="modal fade" id="ajax-modal" tabindex="-1" role="dialog" aria-labelledby="eventModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel"></h3>
        <p class="modal-title-date"></p>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
        </div>
        <div class="ajax-loader"></div>
      </div>
      <div class="modal-footer">
        <span class="symbols"></span>
        <%= link_to(t('global.close'), '', class: 'btn primary',
                                           data: { dismiss: 'modal' }) %>
      </div>
    </div>
  </div>
</div>
