<%= content_for :post_content do %>
  <div class="introduction matrix-container">
    <div class="matrix-image">
      <%= image_tag('matrix.jpg', class: 'img-responsive') %>
    </div>
  </div>
<% end %>
