<%= standard_form_for @document_group_type do |f| %>
  <fieldset>
    <%= f.text_field :name, placeholder: 'Namn' %>
    
    <section>
      <%= f.submit 'Spara' , class: 'btn btn-u' %>
      <%= link_to 'Avbryt', :back, class: 'btn btn-u' %>
    </section>

  </fieldset>
<% end %>
