<% breadcrumb_bar 'Skapa ny dokumentsamlingstyp', :new_document_group_type %>

<div class="col-md-6">
  <%= render 'form' %>
</div>
<div class="col-md-3"></div>
<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
