<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', work_portal: @work_portal %>
  <hr>
  <%= link_to t('.all_posts'), work_posts_path,
                               class: 'btn secondary' %>
  <%= link_to t('.administrate_posts'), admin_work_posts_path,
                                        class: 'btn secondary' %>
</div>
