<% if @election.countdown.present? %>
    <div class="coming-soon-plugin row">
        <h2>
          <%if    @election.view_status == 1%>
              Öppnar om:
          <%elsif @election.view_status == 2%>
              Stänger om:
          <%end%>
        </h2>
        <div id="countdown" class=""></div>
    </div>
    <script type="text/javascript" >
        $("#countdown").countdown('<%=%(#{@election.countdown.strftime('%Y/%m/%d %H:%M:%S')} UTC)%>', function(event) {
            var days = event.offset.totalDays;
            if (days > 1) {
                $(this).html(event.strftime('<span>'
                + days + ' </span> dagar '
                + '<span>%-H</span> h '
                + '<span>%M</span> min '
                + '<span>%S</span> sec'));
            } else if (days == 1) {
                $(this).html(event.strftime('<span>'
                + days + ' </span> dag '
                + '<span>%-H</span> h '
                + '<span>%M</span> min '
                + '<span>%S</span> sec'));
            } else {
                $(this).html(event.strftime(''
                + '<span>%-H</span> h '
                + '<span>%M</span> min '
                + '<span>%S</span> sec'));
            }
        });
    </script>
<%end%>