<% if election_view.present? %>
  <div class="countdown row">
    <h3><%= election_view.countdown_text %></h3>
    <div class="timer">
    </div>

  </div>
  <script type="text/javascript" >
    $(".timer").countdown('<%= l(election_view.countdown, format: '%Y/%m/%d %H:%M:%S %z') %>', function(event) {
      $(this).html(event.strftime('%D dagar %H:%M:%S'));
    });
  </script>
<% end %>
