<% if election_view.present? && election_view.election.countdown.present? %>
  <div class="countdown row">
    <h3><%= election_view.countdown_text %></h3>
    <div class="timer" data-format="<%= t('.date_format') %>"
                       data-time="<%=l(election_view.election.countdown,
                                  format: '%Y/%m/%d %H:%M:%S %z')%>">
    </div>
  </div>
<% end %>
