<% provide(:title, 'Val') %>
<div class="container val-page">
  <% if @election.present? %>
      <%= render @election, election: @election %>
      <% if can? :manage, @election %>
          <div class="col-md-2 col-md-offset-5"><%= link_to("Redigera valet!", admin_election_path(@election), class: "btn btn-election ") %></div>
      <% end %>
  <% else %>
      <h1>Just nu finns det ingen information om valet.</h1>
      <%= link_to image_tag("layout/f.svg", class: "election-logo"), :root %>
  <% end %>
</div>
