<div class="headline"><h2><%= page.title %></h2></div>
<div class="col-md-9">
  <!-- Our Services -->
  <%= render page.main %>
</div>
<!--/col-md-9-->
<div class="col-md-3">
  <%= render page.side %>
</div>
