<% if @council.president.present? && @council.president.users.first.present? %>
  <% user = @council.president.users.first %>
  <div class="headline">
    <div class="col-md-9">
      <br>
      <h4>
        <%= @council.president %>
        <br>
        <b>
          <%= user %>
        </b>
      <% end %>
      </h4>
    </div>
    <% if user.avatar? %>
      <div class="col-md-3">
        <%= image_tag user.avatar(:thumb), class: 'rounded-x'%>
      </div>
    <% end %>
  </div>
<% end %>
