<%if @council.president.blank? == false%>
	<% @post = Post.find(@council.president)%>
<%end%>
<%if(@post)%>
	<% @profile = @post.profiles.first %>
		<%if @profile%>
			<div class="headline headline-md row">	
				<div class="col-md-9"><br><h4><%=@post.title%> <br><b><%=@post.profiles.first.name%></b></h4></div>
				<%if(@post.profiles.first.avatar_file_name != nil)%>
					<div class="col-md-3"><%= image_tag @post.profiles.first.avatar(:thumb), class: "rounded-x"%></div>
				<%end%>
				<!--<blockquote class="hero-unify margin-bottom-10">				
					<small>Postbeskrivning</small>				
				</blockquote>		-->
			</div>
		<%end%>
<%end%>	
