<div class="col-md-3">
                <!-- About Us -->
                <div class="margin-bottom-30">
                    <%= render 'pages/president'%>                           
                </div>
                
                <%if @sidebarelements%>
	                <%@sidebarelements.each do |p|%>
		                <div>
		                	<%@main = p%>                
		                	<%=render partial: "pages/element"%>
		            	</div>
		            	<br>
	            	<%end%>                
                <%end%>    
                <%if 1 == 0%>
                <!-- Posts  Kan användas till album/events-->
                <div class="posts margin-bottom-30">
                    <div class="headline"><h2>Recent Blog Entries</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">It works on all major web browsers tablets</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="assets/img/sliders/elastislide/9.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Brunch 3 wolf moon tempor sunt aliqua put.</a></p> 
                        </dd>
                    </dl>
                </div><!--/posts-->
                <%end%>
            </div><!--/col-md-3-->