<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h2><%= t(:edit, attr: model_name(Contact)) %></h2>
  </div>
  <%= render 'form'%>
  <hr>
  <%= link_to(t(:index_attr, attr: models_name(Contact)), contacts_path, class: 'btn secondary') %>
  <%= link_to(t(:back_to_root), root_url, class: 'btn secondary') %>
</div>
