<% provide(:title, t('contact.title')) %>
<div class='headline'>
  <h2 id='contacts_title'>
    <%= t('contact.title') %>
  </h2>
</div>
<div class="col-xs-12">
  <% @contacts.each do |c| %>
    <%= render 'preview', contact: c %>
  <% end %>
</div>
