<div class="col-md-3">
  <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li class="list-group-item side-menu-item"><%= link_to "Styrdokument", steering_documents_path %></li>
    <li class="list-group-item side-menu-item"><%= link_to "Handlingar och protokoll", protocols_documents_path %></li>
    <li class="list-group-item side-menu-item"><%= link_to "Övriga dokument", other_documents_path %></li>
  </ul>
</div>
