<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th width="40%"></th>
      <th width="20%">Antagen</th>
      <th width="20%">Reviderad</th>
      <th width="20%">Uppladdad</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'document', collection: documents %>
  </tbody>
</table>

