<% breadcrumb_bar :new_document do %>
  <% if @document.document_group %>
    i dokumentsamlingen <i><%= @document.document_group.name %></i>
  <% end %>
<% end %>

<div class="col-md-6">
  <%= render partial: 'form' %>
</div>

<div class="col-md-3"></div>
<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
