<%= content_for :breadcrumbs do %>
  <h1 class="pull-left">Handlingar och Protokoll</h1>
  <ul class="pull-right breadcrumb">
    <li><a href="index.html">Hem</a></li>
    <li><a href="">Sektionen</a></li>
    <li><a href="">Dokument</a></li>
    <li class="active">Handlingar och protokoll</li>
  </ul>
<% end %>

<div class="col-md-9">
  <section>
    <header class="headline headline-md"><h3>Sektionsmöten</h3></header>
    <p>
      Nedan finner du handlingar och protokoll till sektionsmöten.
    </p>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th width="25%">Möte</th>
          <th width="10%">Mötesdatum</th>
          <th width="40%">Handlingar</th>
          <th width="15%">Protokoll</th>
          <th width="10%">Uppdaterat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>F07-VT15</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>F06-VT15</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>F05-VT15</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>F04-VT13</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>F02-VT13</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>F01-VT13</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
             
      </tbody>
    </table>

  </section>

  <section>
    <header class="headline headline-md"><h3>Styrelsemöten</h3></header>
    <p>
      Nedan finner du handlingar och protokoll till sektionsmöten.
    </p>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th width="25%">Möte</th>
          <th width="10%">Mötesdatum</th>
          <th width="40%">Handlingar</th>
          <th width="15%">Protokoll</th>
          <th width="10%">Uppdaterat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hösterminsmöte 2014</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>Vårterminsmöte 2014</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>Extrainsatt årsmöte 2014</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>Hösterminsmöte 2013</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>Hösterminsmöte 2012</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td>Hösterminsmöte 2010</td>
          <td>2015-02-01</td>
          <td><a>Handlingar</a></td>
          <td><a>Protokoll</a></td>
          <td>2015-02-01</td>
        </tr>
             
      </tbody>
    </table>

  </section>
 
</div>

<%= render "menu" %>

