<%= content_for :breadcrumbs do %>
  <h1 class="pull-left">Handlingar och Protokoll</h1>
  <ul class="pull-right breadcrumb">
    <li><a href="index.html">Hem</a></li>
    <li><a href="">Sektionen</a></li>
    <li><a href="">Dokument</a></li>
    <li class="active">Handlingar och protokoll</li>
  </ul>
<% end %>

<div class="col-md-9">
  <section>
    <header class="headline headline-md"><h3>Sektionsmöten</h3></header>
    <p>
      Nedan finner du handlingar och protokoll till sektionsmöten.
    </p>
    <%= render_protocols_table(@general_meetings) %>
  </section>

  <section>
    <header class="headline headline-md"><h3>Styrelsemöten</h3></header>
    <p>
      Nedan finner du handlingar och protokoll till sektionsmöten.
    </p>
    <%= render_protocols_table(@board_meetings) %>
  </section>
 
</div>

<%= render partial: 'menu', locals: { doc_type: :protocols } %>

