<%= content_for :breadcrumbs do %>
  <h1 class="pull-left">Styrdokument</h1>
  <ul class="pull-right breadcrumb">
    <li><a href="index.html">Hem</a></li>
    <li><a href="">Sektionen</a></li>
    <li><a href="">Dokument</a></li>
    <li class="active">Styrdokument</li>
  </ul>
<% end %>

<div class="col-md-9">
  <section>
    <p>För att säkerställa att F-sektions verksamhet sköts på rätt sätt regleras vad medlemmar och funktionärer får lov att göra genom ett antal styrdokument. Det finns fyra olika typer och du finner dem nedan.</p>
  </section>

  <section>
    <header class="headline headline-md"><h3>Stadga</h3></header>
    <p>
      I stadgan regleras F-sektionens definition, dess medlemmar och dess beslutande organ. Det inkluderar bland annat hur ett sektionsmöte ska gå till, vad som gäller för sektionens styrdokument, vad styrelsen får och inte får göra m.m. Ändring av stadgan görs på ett sektionsmöte. För att ändringen skall godkännas måste den röstas igenom på två olika sektionsmöten.
    </p>

    <table class="table">
      <thead>
        <tr>
          <th width="40%"></th>
          <th width="20%">Antagen</th>
          <th width="20%">Reviderad</th>
          <th width="20%">Uppladdad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="">F-sektionens stadga</a></td>
          <td>1988-11-16</td>
          <td>2014-04-10</td>
          <td>2015-03-11</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <header class="headline headline-md"><h3>Reglemente</h3></header>
    <p>
      I reglementet definieras alla utskott och dess poster samt vad de har för uppgift i organisationen. Det är en utvidgning av stadgan som kan ändras lite lättare och beskriver den mer operativa verksamheten. Ändringar av reglementet för på ett sektionsmöte. För att ändringen skall godkännas behöver den endast röstas igenom på ett sektionsmöte med 2/3 majoritet.
    </p>
    
    <table class="table">
      <thead>
        <tr>
          <th width="40%"></th>
          <th width="20%">Antagen</th>
          <th width="20%">Reviderad</th>
          <th width="20%">Uppladdad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a>F-sektionens reglemente</a></td>
          <td>1994-11-17</td>
          <td>2014-11-25</td>
          <td>2015-03-11</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <header class="headline headline-md"><h3>Policys</h3></header>
    <p>
      Policys är en utvidgning av reglementet. Här tas vissa områden upp i mer detalj än vad de göras i stadgan och reglementet. De kan t.ex. beskriva hur någonting ska tolkas. Policys instiftas och revideras på sektionsmöten.
    </p>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th width="40%"></th>
          <th width="20%">Antagen</th>
          <th width="20%">Reviderad</th>
          <th width="20%">Uppladdad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a>Policy för val förättade av styrelsen</a></td>
          <td>2014-03-11</td>
          <td>2015-02-01</td>
          <td>2015-02-01</td>
        </tr>
        <tr>
          <td><a>Policy för grafik profil</a></td>
          <td>2000-10-23</td>
          <td>1233-23-32</td>
          <td>2012-11-12</td>
        </tr>
        <tr>
          <td><a>Policy för bilder</a></td>
          <td>2012-12-12</td>
          <td>1991-23-11</td>
          <td>2015-01-23</td>
        </tr>
        <tr>
          <td><a>Policy för medlemsskap</a></td>
          <td>2015-09-30</td>
          <td>2014-02-10</td>
          <td>2015-02-12</td>
        </tr>
        <tr>
          <td><a>Policy för likabehandling</a></td>
          <td>2014-01-02</td>
          <td>-</td>
          <td>2013-23-23</td>
        </tr>
        <tr>
          <td><a>Policy för utmärkelsen</a></td>
          <td>2013-01-23</td>
          <td>2016-03-32</td>
          <td>2015-01-12</td>
        </tr>

      </tbody>
    </table>

  </section>
  
  <section>
    <header class="headline headline-md"><h3>Regeldokument</h3></header>
    <p>
      Regeldokument instiftas och revideras av styrelsen. De beskriver oftast väldigt operativa delar av verksamheten som kan ändras från år till år och där det är onödigt att beslutet tas av sektionsmötet.
    </p>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th width="40%"></th>
          <th width="20%">Antagen</th>
          <th width="20%">Reviderad</th>
          <th width="20%">Uppladdad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a>Regler för SK</a></td>
          <td>2012-12-12</td>
          <td>1991-23-11</td>
          <td>2015-01-23</td>
        </tr>
        <tr>
          <td><a>Regler för Beerit</a></td>
          <td>2015-09-30</td>
          <td>2014-02-10</td>
          <td>2015-02-12</td>
        </tr>
        <tr>
          <td><a>Regler för datorer</a></td>
          <td>2014-01-02</td>
          <td>-</td>
          <td>2013-23-23</td>
        </tr>
        <tr>
          <td><a>Regler för allmänt hyffs</a></td>
          <td>2013-01-23</td>
          <td>2016-03-32</td>
          <td>2015-01-12</td>
        </tr>
      </tbody>
    </table>

  </section>

</div>

<div class="col-md-3">
  <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
    <li class="list-group-item side-menu-item"><%= link_to "Styrdokument", steering_documents_path %></li>
    <li class="list-group-item side-menu-item"><%= link_to "Handlingar och protokoll", protocols_documents_path %></li>
    <li class="list-group-item side-menu-item"><%= link_to "Övriga dokument", other_documents_path %></li>
  </ul>
</div>
