<div class="row margin-bottom-20 center">
  <%= link_to("Admin - start", admin_hilbert_path, class: "btn btn-u") %>
  <%= link_to("Hilbert - start", hilbert_path, class: "btn btn-u") %>
  <% if @cafe_work.present? && !@cafe_work.new_record? %>
    <%= link_to("Jobb - vanlig vy", cafe_work_path(@cafe_work), class: "btn btn-u") %>
  <% end %>
</div>
