<div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
  <%= label_tag CafeWork.model_name.human, nil, class:  'reg-header'%>
  <%= render 'form'%>
  <%= link_to(t(:back), admin_cafe_works_path)%>
</div>
