<% if event.question.present? %>
  <span class="event question">
    <%= fa_icon('question') %>
    <%= event.question %>
  </span>

  <span class="event answer">
    <blockquote>
      <%= event_registration.answer %>
    </blockquote>
  </span>
<% end %>

<%= link_to(t('.cancel'), event_event_registration_path(event, event_registration),
                          method: :delete,
                          class: 'btn danger',
                          remote: true,
                          data: { confirm: t('.confirm_cancel') }) %>
