<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h2><%= t('contact.edit') %></h2>
  </div>
  <%= render 'form', contact: @contact, posts: @posts %>
  <hr>
  <%= link_to(t('contact.admin_index'), admin_contacts_path, class: 'btn secondary') %>
  <%= link_to(t('contact.index'), contacts_path, class: 'btn secondary') %>
</div>
