<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', contact: @contact, posts: @posts %>
  <hr>
  <%= link_to(t('.admin_index'), admin_contacts_path, class: 'btn secondary') %>
</div>
