<div class="headline">
  <h3><%= t('.sponsors') %></h3>
</div>

<%= link_to('http://tetrapak.com/se', target: '_blank') do %>
  <%= image_tag('theme/tetrapak.png', class: 'img-responsive') %>
<% end %>

<%= render 'nollning/links' %>
