<span class='title'>Nyttig Information</span><br />

<span class='smallTitle'>Boende</span>
<p>Om du inte redan har fixat ett boende så borde du gå in på <a class='infoLink' href='http://www.afb.se' target='_blank'>AFB:s hemsida</a> och ställa dig i bostadskön.
Det finns dock många andra ställen att hitta boende på, såsom andrahandsuthyrning, nationer och stiftelser.
Teknologkåren har en bra <a class='infoLink' href='http://www.tlth.se/150-Bostad' target='_blank'>informationssida om bostäder</a>.</p>


<span class='smallTitle'>Försäkring</span>
<p>Eftersom nollningsaktiviteterna sker efter skoltid gäller inte LTHs försäkring om oturen skulle vara framme. Det finns flera bra billiga försäkringar för studenter. Glöm inte heller att teckna en hemförsäkring för ditt nya boende i Lund.</p>

<span class='smallTitle'>Tag med</span>
<p>När du kommer ner till Lund så behöver du ha med dig ett antal saker:
<ul>
  <li>Antagningsbesked</li>
  <li>Legitimation</li>
  <li>Pengar</li>
  <li>Finkläder (kostym/långklänning)</li>
  <li>Oömma kläder för utomhusaktiviteter</li>
  <li>Sovsäck och liggunderlag</li>
</ul></p>

<span class='smallTitle'>Cykel</span>
<p>Bästa och snabbaste sättet att ta sig fram i Lund är med en cykel. Redan under nollningen kan det vara skönt att ha en cykel. Tyvärr så är det vanligt att cyklar försvinner i Lund så se till att ha ett ordentligt lås med dig. Saknar du en cykel så håller Lunds kommun en cykelauktion den 28 augusti samt den 4 september. Läs mer om det <a class='infoLink' href='http://www.lund.se/Medborgare/Trafik--infrastruktur/Cykla-i-Lund/Lista-cykelsidor/Cykelauktion/'>här</a></p>

<span class='smallTitle'>Vad måste jag göra?</span>
<p>För att få behålla din plats måste du komma på uppropet och för att få studiebidrag från CSN så måste du även lämna studieförsäkran.
Om du inte kan närvara på uppropet så måste du anmäla det till LTH <a class='infoLink' href='http://www.student.lth.se/ny-student-2013/kommer-inte-paa-uppropet/?L=0%2527%2522' target='_blank'>här</a>.</p>

<span class='smallTitle'>Kårmedlemskap</span>
<p>För att få vara med på många av de aktiviter som teknologkåren anordnar så måste du vara medlem. Du kan enkelt bli medlem på <a class='infoLink' href='https://medlem.tlth.se/' target='_blank'>Teknologkårens hemsida</a>.
Kontroll av medlemskap kan du göra <a class='infoLink' href='http://medcheck.tlth.se/' target='_blank'>här</a>.</p>
