# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 703cec09556f0fd288af46ed55a5c35093fe33a7a112c5050b3deb014afcf5decc578f4c6618d5b66d2234b7551bc0b2a39666d95028fb262a39d7d3f01ab0fe

test:
  secret_key_base: e7aad9cd778468bb95930a1776dff450c11845ab0604c02f04bd538b32dcdd17a578b8f97bbe0d29b6b7b5b3951bd95f8c3eeb2f8bf33af5495d9ee92ceeafe1

    # Do not keep production secrets in the repository,
    # instead read values from the environment.
production:
  secret_key_base: d328a97ab11dafe94db121b97c79a3713cde6357d46c229c02bb082b9c6530f6a6c9a39b841b65d34fca35266d4684b1e4b06a0fdc018a55062f515e3ba7e6d2
