<% title("Album") %>
<h2>Redigera album</h2>
<div class="container">
	<div class="col-md-6">
		<%= render 'form' %>
	</div>
</div>


<%= link_to 'Visa', @album %> |
<%= link_to 'Tillbaka', album_path %>
