<% title("Bilder") %>
	<strong>Album</strong>	</br>
	<%if @albums.size > 0%>			
				<%@albums.each do |p|%>
				<td><%=image_tag p.images.first(:order => "RANDOM()").foto.url(:small)%></br>
				<%=link_to p.title,album_path(p) %></td>
				<%end%>							
		<%end%>
<% content_for(:sidebar) do %>
 	<% if user_signed_in? %>
 	  <% if current_user.admin? || current_user.has_role?(:news,:edit) %>
	    	<div class="headline headline-md">
	    		<h2>Verktyg</h2>
    		</div>
		    <ul class="list">
		        <li><%= link_to "Skapa nyhet", new_news_path %></li>
		    </ul>
	  <% end %>
  <% end %>
<% end %>

