    <div class="container content">				
    	<div class="gallery-page">
            <div class="row margin-bottom-20">
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/1.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/1.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/2.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/2.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/3.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/3.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/4.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/4.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/5.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/5.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/6.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/6.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/7.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/7.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-3 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/8.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/8.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
            </div>

            <hr class="margin-bottom-30">

            <div class="row margin-bottom-20">
                <div class="col-md-4 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/9.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/9.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/10.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/10.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/1.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/1.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/2.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/2.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/3.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/3.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/4.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/4.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
                <div class="col-md-2 col-sm-6">
                    <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project Title" href="assets/img/main/5.jpg">
                        <span class="overlay-zoom">  
                            <img alt="" src="assets/img/main/5.jpg" class="img-responsive">
                            <span class="zoom-icon"></span>
                        </span>                                              
                    </a>                                                                                    
                </div>
            </div>

            <div class="text-right">
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a>3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>			
        </div><!--/gallery-page-->
    </div><!--/container-->		
