<%= simple_form_for([:admin, @api_image]) do |f|%>
  <div class="form-files">
  <% if @api_image.file.present? %>
    <%= image_tag(@api_image.file, class: 'img-responsive') %>
  <% end %>
  </div>

  <%= f.input :file, as: :file %>
  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
