<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', post: @post, council: @council %>
  <hr>

  <%= link_to(t('.show_council'), council_path(@council)) %>
  <%= link_to(t('.edit_council'), edit_admin_council_path(@council)) %>
</div>
