<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('post.new')) %></h1>
  </div>

  <%= render 'form', post: @post, council: @council %>
  <hr>
  <%= link_to(t('council.show'), council_path(@council)) %>
</div>
