<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Meddelande skickat via hemsidan till <%= @kontakt%> </h2>
    <p>
    Från: <%= @name%><br>
    E-post: <%= @email%>
  </p>
  <p>
  Meddelande: <br>
  <%= simple_format(@msg) %>
  </p>
  </body>
</html>
