<% provide(:title, 'Bilbokning') %>
	<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page">
		<div class="coming-soon">
			<h2><%= label_tag 'Bilbokning - bilförman',nil, :class => 'reg-header'%></h2>		
		</div>
		<div class="row">
			<%= grid(@rent_grid) do |g|
			  g.column name: "Från:",attribute: "d_from",filter: false
			  g.column name: "Till",attribute: "d_til",filter: false  	
			  g.column name: "Förnamn:", attribute: "name",filter: false do |rent|
			  	(rent.profile_id == nil) ? rent.name : link_to(rent.name, Profile.find(rent.profile_id))
			  end
			  g.column name: "Efternamn", attribute: "lastname",filter: false
			  g.column name: "Bekräftad", attribute: "confirmed",filter: false
			  g.column name: "Aktiv", attribute: "aktiv",filter: false    
			  g.column name: "Utskott", attribute: "council_id",filter: false do |rent|
			  	(rent.council_id == nil) ? "-" : link_to(Council.find(rent.council_id))
			  end
			  g.column name: "Redigera" do |rent|
			  	link_to("Redigera",car_rent_path(rent))
			  end			  
			end -%>		
		</div>
	</div>
