<div class="col-md-12">
        <div class="row">
                <div class="col-md-8">
                        <div class="headline headline-md"><h1>Bokningar</h1></div>
                        <div class="panel-group acc-v1 margin-bottom-40" id="answered">                        
                </div>
                </div>
                <div class="col-md-4">
                        <div class="row">
                                <div class="headline headline-md"><h1>Operationer</h1></div>                                	
                        </div>
                        <div class="row">
                                <div class="headline headline-md"><h1>Inställningar</h1></div>
                                
                        </div>

                </div>
        </div>
</div>