<% provide(:title, 'Bilbokning') %>
	<div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 reg-page">		
		<div class="row">		
			<%=render 'form'%>
		</div>		
	</div>
<script>
$("input[type='checkbox']#accepted_disclaimer").on('change', function(){
	if($("#accepted_disclaimer").is(":checked")){
    	$('.after_disclaimer').show();
	}else{
    	$('.after_disclaimer').hide();
	}	
});
</script>