<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h3>
      <%= t(:new, attr: model_name(Album)) %>
    </h3>
  </div>
  <%= render 'form'%>
  <%= link_to(t('gallery.title'), admin_gallery_albums_path,
              class: 'btn secondary') %>
</div>
