<div class="headline">
  <h1><%= title('Mailalias') %></h1>
</div>

<div class=js-hide>
  This page requires javascript to function. Please turn it on in your browser
</div>

<div class='row col-sm-12 col-md-10 col-lg-8'>
  <form id=alias-form class=form-inline>
    <div class=form-group>
      <input id=alias-searchfield class=form-control name=q>
      <button class='btn btn-default' type=submit>
        <%= t('global.search') %>
      </button>
    </div>
  </form>

  <p id=alias-status>
  </p>

  <table class=table>
    <tbody id=alias-tbody>
    </tbody>
  </table>
</div>
