<%= title(t('gallery.title')) %>
<div class="headline headline-md">
  <h1><%= t('gallery.title') %></h1>
</div>
<div class="headline headline-md"><h3>Alla album</h3></div>
<% @albums.each do |p| %> <!-- ändra till @albums_latest -->
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <%= render 'gallery/albums/album_preview', album: p %>
  </div>
<%end%>

