<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page locker">

  <div class="headline">
    <h1>Skåp</h1>
  </div>

 <div class="col-md-2 col-sm-12">
  <%= link_to(('låna skåp'), setup_lockers_path, class: 'btn primary') %>
  <%= link_to(('mina lånade skåp'), rented_lockers_path, class: 'btn primary') %>
 </div>

  <div class="col-md-12 col-sm-12">
    <%= grid(@lockers) do |g|
      g.column(name: Locker.human_attribute_name(:namn)) do |locker|
        locker.name
      end
      g.column(name: Locker.human_attribute_name(:rum)) do |locker|
        locker.room
      end
      g.column(name: Locker.human_attribute_name(:status)) do |locker|
        if locker.occupied
          "Upptaget"
        else
          "Ledigt"
        end
      end
    end %>
  </div>

 <div class="col-md-12 col-sm-12">

 </div>

</div>
