<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', category: @category %>
  <hr>
  <%= link_to(t('.all_categories'), admin_categories_path,
                                    class: 'btn secondary') %>
</div>

