<% provide(:title, t('category.title')) %>

<div class="col-md-8 col-md-offset-2 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= t('category.new') %></h1>
  </div>

  <%= render 'form', category: @category %>
  <hr>
  <%= link_to(t('category.index'), admin_categories_path, class: 'btn secondary') %>
</div>

