@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
}

.calendar {
  .fc-toolbar {
    min-width: 350px;
  }

  .fc-center {
    margin-top: 20px;
  }
}
