.contact {
  &.index {
    border-bottom: solid 1px $fsek-orange;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-bottom: 30px;
  }

  .description,
  .image,
  .users {
    min-height: 100px;
    margin-bottom: 20px;
  }
}
