.copyright {
  &.year {
    float: left;
  }

  &.contact {
    float: right;
  }

  .center {
    text-align: center;
  }
}

@media (min-width: 500px) {
  .copyright {
    &.contact {
      float: auto;
    }
  }
}
