.election {
  margin-top: 20px;
  padding: 20px;

  p {
    color: $black;
    font-size: 16px;
    line-height: 22px;
  }

  .countdown {
    margin-top: 20px;
    min-height: 200px;
    padding: 20px;
    text-align: center;

    .timer {
      color: $gray-headline;
      display: inline-block;
      font-size: 25px;
      font-weight: bold;
      line-height: 25px;
      padding: 5px;
    }
  }
  .btn {
    &.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 60%;
      min-width: 40%;
    }
  }
}

.election-logo {
  margin-bottom: 50px;
  max-height: 200px;
}

.btn,
div,
p,
img {
  &.center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.election-grid {
  tr {
    &.styrelse {
      td,
      &.even td,
      &.odd td {
        background-color: rgba($orange-highlight, 0.7);
      }
    }

    &.studierad {
      td,
      &.even td,
      &.odd td {
        background-color: rgba($green-highlight, 0.7);
      }
    }
  }
}
