.coming-soon {
  margin-top: 20px;
  padding: 20px;
  text-align: center;

  h1,
  p {
    color: $black;
  }

  h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    text-shadow: none;
  }

  p {
    font-size: 16px;
    line-height: 22px;
  }


}

.coming-soon-plugin {
  margin-top: 20px;
  min-height: 200px;
  padding: 20px;
  text-align: center;

}

.coming-soon-copyright {
  padding: 5px 0;

  p {
    color: $white;
    text-align: right;
  }
}

.election-logo {
  margin-bottom: 50px;
  max-height: 200px;
}

div,
p,
img {
  &.center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.btn-election {
  background-color: transparent;
  border-color: $black;
  border-radius: 10px;
  color: $black;
  font-size: 18px;
  padding: 10px 25px;

  &:hover {
    border-color: $main-color;
    color: $main-color;
  }
}
