.event {
  &.stream {
    .table {
      table-layout: fixed;
      width: 100%;

      tbody > tr > td {
        padding: 4px;
      }
    }

    .weekday {
      color: $gray-headline;
      font-weight: bold;
      padding-right: 10px;
    }

    .event-wrap {
      color: $black;
      margin-right: 5px;

      .date,
      .title {
        color: $black;
      }
    }
  }

  &.attending {
    color: $unify-green;
  }

  &.reserve {
    color: $unify-red;
  }

  &.not-attending {
    color: $unify-red;
  }

  &.registered {
    color: $fsek-orange;
  }

  &.block {
    display: block;
  }

  &.time,
  &.location {
    display: inline-block;
    padding-right: 10px;
  }

  &.event-description {
    font-size: 1.2em;
  }

  &.info {
    display: block;

    ul {
      padding: 0;

      li {
        color: $black;
        list-style-type: none;
      }
    }
  }

  &.not-registered {
    color: $unify-red;
    font-size: 1.2em;

    a {
      margin-left: 10px;
    }
  }
}
