.event {
  &.stream {
    .table {
      table-layout: fixed;
      width: 100%;

      tbody > tr > td {
        padding: 4px;
      }
    }

    .weekday {
      color: $gray-headline;
      font-weight: bold;
      padding-right: 10px;
    }

    .event-wrap {
      color: $black;
      margin-right: 5px;

      .date,
      .title {
        color: $black;
      }
    }
  }

  &.attending {
    color: $fsek-orange;
  }

  &.reserve {
    color: $unify-yellow;
  }

  &.not-attending {
    color: $unify-red;
  }

  &.answer,
  &.question {
    display: block;
  }

  &.time,
  &.location {
    display: inline-block;
    padding-right: 10px;
  }

  &.info {
    display: block;

    ul {
      padding: 0;

      li {
        color: $black;
        list-style-type: none;
      }
    }
  }
}
