.event-signup {
  .time,
  .location,
  .event-reminder,
  .position-reminder {
    display: block;

    i {
      margin-right: 5px;
    }
  }
}

.group-custom {
  height: 30px;
  margin-left: 20px;
  margin-top: -38px;
  width: 250px;
}
