.album-col {
  height: 100%;
}

.max-height {
  height: auto;
  max-height: 200px;
}

.img-max-height {
  height: auto;
  max-height: 250px;
  max-width: 100px;
  width: auto;
}

.image-container {
  height: 300px;
  overflow: hidden;
  width: 100%;
}

.image-preview-container {
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.edit-image-container {
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.vertical-align {
  align-items: center;
  display: flex;
}

.row-height {
  height: 250px;
}

.album-preview {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
