.group-user-list {
  font-size: 13px;
  margin-bottom: 4px;
}

.group-users-grid {
  tr {
    &.fadder {
      td,
      &.even td,
      &.odd td {
        background-color: $grid-highlight;
      }
    }
  }
}

.groups-grid {
  tr {
    &.member {
      td,
      &.even td,
      &.odd td {
        background-color: $grid-highlight;
      }
    }
  }
}

.new_message textarea.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}
