.introduction {
  font-size: 14px;

  &.header {
    height: auto;
    margin-bottom: 30px;
    max-height: 400px;
    max-width: 100%;
    vertical-align: middle;
  }

  .paragraph {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .sign {
    float: right;
    font-size: 20px;
    font-weight: bold;
  }

  .news.start.box {
    background-color: $white;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
    margin-left: -17px;

    h3 {
      font-size: 35px;
    }

    .info,
    .categories {
      display: none;
    }

  }

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }

  &.fos-carousel {
    margin-bottom: 30px;
  }

  .headline h1,
  .headline h2,
  .headline h3 {
    color: $black;
    font-family: "hecationcheir";
    font-size: 44px;
    padding-left: 5px;
  }

  .links {
    margin-bottom: 20px;
  }
}
