$castle: image-url("round-table/castle.svg");
$brown: #754c29;

.introduction {
  .matrix {
    border: 50px solid;
    border-image-repeat: stretch repeat;
    border-image-slice: 52.8% 9.9% 13% 9.9% fill;
    border-image-source: $castle;
    margin: 0 auto;
    padding-bottom: 1%;
    padding-left: 0.5%;

    .grid-item {
      background: $white;
      border: 10px solid $brown;
      display: inline-block;
      margin-bottom: 0;
      margin-right: 0;
      margin-top: 4px;
      padding: 2px;
      position: relative;

      .date {
        display: block;
      }

      .text {
        color: $black;
        display: block;
        font-size: 12px;
        height: 80%;
        overflow-y: auto;
        position: absolute;
        width: 100%;

        .event {
          display: block;

          .time {
            color: $fsek-orange;
          }
        }
      }

      .rest-symbol {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        max-width: 50px;
      }

      .week {
        background: $white;
        border: 1px solid $brown;
        font-size: 1.5rem;
        left: -1.1em;
        line-height: 1em;
        padding: 0.2em 0.5em 0;
        position: absolute;
        top: 40%;
      }
    }
  }

  .symbols {
    display: table-cell;
    width: 25%;

    img {
      max-height: 32px;
      width: auto;
    }
  }

  ul {
    .symbol-list {
      list-style-type: circle;
      padding: 10px;
    }
  }

  .matrix-footer {
    margin: auto;
    text-align: center;
  }

  .modal {
    margin-top: 10%;
    overflow: visible;
    position: absolute;

    .modal-dialog {
      margin: auto;
      width: 60%;
    }
  }

  .modal-event-body {
    position: relative;
  }

  @media (min-width: 1200px) {
    .matrix {
      border-width: 350px 80px 10px;

      .grid-item {
        height: 200px;
        width: calc(96.9% / 7);
      }
    }
  }

  // Landscape tablets and medium desktops
  @media (min-width: 992px) and (max-width: 1199px) {
    .matrix {
      border-width: 350px 80px 100px;

      .grid-item {
        height: 150px;
        width: calc(96.5% / 7);
      }
    }
  }

  // Portrait tablets and small desktops
  @media (min-width: 768px) and (max-width: 991px) {
    .matrix {
      border-width: 250px 40px 60px;

      .grid-item {
        height: 150px;
        width: calc(96.9% / 5);
      }
    }
  }

  // Landscape phones and portrait tablets
  @media (max-width: 767px) {
    .matrix {
      border-width: 200px 50px 40px;

      .grid-item {
        height: 150px;
        width: calc(95.6% / 4);
      }
    }
  }

  // Portrait phones and smaller
  @media (max-width: 480px) {
    .matrix {
      border-width: 150px 20px 25px;

      .grid-item {
        height: 100px;
        width: calc(96% / 3);

        .date {
          font-size: 12px;
        }

        .text {
          font-size: 10px;
        }

        .rest-symbol {
          height: 25px;
          width: 25px;
        }
      }
    }
    .modal {
      .modal-dialog {
        width: 95%;
      }
    }
  }
  .gecko-title {
    display: none;
  }
}

.modal-open {
  overflow: visible;
}

body.gecko {
  .introduction {
    .matrix {
      border-image: none;
      border: none;
    }

    .gecko-title {
      display: block;

      span {
        display: blocK;
      }
    }
  }
}
