$inner: image-url("theme/border.svg") 10% 10% 10% 10% stretch;
$outer-top: image-url("theme/top.svg") 27.5% 0% 13.1% 0% stretch;
$outer: image-url("theme/frame.svg") 27% 15% 23% 15% repeat;

// Large desktops and laptops
@media (min-width: 1200px) {
  .nollning-grid {
    @include border-image($outer);
    border: 160px;
  }

  .matrix-grid-wrap {
    margin: -95.9px -36.7px -35.7px -26.1px;
  }

  .matrix-grid {
    @include border-image($inner);
    border: 8px solid transparent;
    height: 150px;
    overflow: auto;
    padding: 0;
    width: 14.26%;
  }

  .nollning-top {
    @include border-image($outer-top);
    border: solid transparent;
    border-width: 160px 0 0;
  }

  .matrix-grid-text {
    color: $black;
    font-size: 12px;
  }

  .nollning-all-day {
    font-size: 13px;
  }

  .rest-symbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 50px;
  }
}

// Landscape tablets and medium desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .nollning-grid {
    @include border-image($outer);
    border: 120px;
  }

  .matrix-grid-wrap {
    margin: -71.6px -31px -27px -23.6px;
  }

  .matrix-grid {
    @include border-image($inner);
    border: 8px solid transparent;
    height: 150px;
    overflow: auto;
    padding: 0;
    width: 14.26%;
  }

  .nollning-top {
    @include border-image($outer-top);
    border: solid transparent;
    border-width: 100px 0 0;
  }

  .matrix-grid-text {
    color: $black;
    font-size: 12px;
    word-wrap: break-word;
  }

  .rest-symbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 50px;
  }
}

// Portrait tablets and small desktops
@media (min-width: 768px) and (max-width: 991px) {
  .nollning-grid {
    @include border-image($outer);
    border: 100px;
  }

  .matrix-grid-wrap {
    margin: -59.6px -26.6px -22px -21.6px;
  }

  .matrix-grid {
    @include border-image($inner);
    border: 8px solid transparent;
    height: 100px;
    overflow: auto;
    padding: 0;
    width: 25%;
  }

  .nollning-top {
    @include border-image($outer-top);
    border: solid transparent;
    border-width: 120px 0 0;
  }

  .matrix-grid-text {
    color: $black;
    font-size: 12px;
    word-wrap: break-word;
  }

  .rest-symbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
  }

  .rest-title {
    display: none;
  }
}

// Landscape phones and portrait tablets
@media (max-width: 767px) {
  .nollning-grid {
    @include border-image($outer);
    border: 100px;
  }

  .matrix-grid-wrap {
    margin: -59.6px -26.9px -22px -21.6px;
  }

  .matrix-grid {
    @include border-image($inner);
    border: 8px solid transparent;
    height: 110px;
    overflow: auto;
    padding: 0;
    width: 25%;
  }

  .nollning-top {
    @include border-image($outer-top);
    border: solid transparent;
    border-width: 100px 0 0;
  }

  .matrix-grid-text {
    color: $black;
    font-size: 12px;
    word-wrap: break-word;
  }

  .rest-symbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
  }

  .rest-title {
    display: none;
  }
}

// Portrait phones and smaller
@media (max-width: 480px) {
  .nollning-grid {
    @include border-image($outer);
    border: 70px;
  }

  .matrix-grid-wrap {
    margin: -41px -23.6px -16px -20px;
  }

  .matrix-grid {
    @include border-image($inner);
    border: 8px solid transparent;
    height: 80px;
    overflow: hidden;
    padding: 0;
    width: 25%;
  }

  .nollning-top {
    @include border-image($outer-top);
    border: solid transparent;
    border-width: 60px 0 0;
  }

  .matrix-grid-text {
    color: $black;
    font-size: 10px;
  }

  .rest-symbol {
    max-width: 25px;
  }

  .event-title {
    display: none;
  }
}

.nollning {
  color: $gray-headline;
  font-family: "ancient";
  font-size: 18px;

  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }

  &.fos-carousel {
    margin-bottom: 30px;
  }

  .headline {
    font-family: "questknight";
  }
}

.symbols {
  display: table-cell;
  width: 25%;

  img {
    max-height: 32px;
    width: auto;
  }
}

ul {
  .symbol-list {
    list-style-type: circle;
    padding: 10px;
  }
}

#ajax-modal {
  margin-top: 6%;
}

.modal-event-body {
  position: relative;
}

.nollning-header {
  height: auto;
  margin-bottom: 30px;
  max-height: 400px;
  max-width: 100%;
  vertical-align: middle;
}

.nollning-paragraph {
  font-size: 22px;
  margin-bottom: 20px;
}

.nollning-sign {
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.nollning-matrix-footer {
  margin: auto;
  text-align: center;
}

.nollning-news {
  margin-bottom: 10px;

  h4 {
    font-size: 22px;
  }
}
