.notice {
  .img-responsive {
    margin: auto;
    max-height: 50%;
  }

  .col-sm-5,
  .col-sm-7,
  .col-sm-12 {
    margin-bottom: 20px;
  }

  tr {
    &.published {
      td,
      &.even td,
      &.odd td {
        background-color: rgba($orange-highlight, 0.5);
      }
    }
  }
}
