span,
li {
  .overlapping-date {
    color: $main-color;
    margin-right: 10px;
  }
}

ul {
  &.buttons {
    list-style: none;

    li {
      margin: 10px;
    }
  }
}

.label {
  &.confirmed {
    background: $unify-green;
    font-size: 15px;
  }

  &.unconfirmed {
    background: $unify-yellow;
    font-size: 15px;
  }

  &.denied {
    background: $unify-red;
    font-size: 15px;
  }
}

.rent {
  &.terms {
    display: block;
  }
}
