@keyframes pulse {
  0%, 100% {font-size: 14px}
  10% {font-size: 17px;}
  15% {font-size: 13px;}
  30% {font-size: 17px;}
  40% {font-size: 14px;}
  60% {font-size: 12px;}
  70% {font-size: 14px;}
  75% {font-size: 17px;}
  90% {font-size: 16px;}
}

.start-background {
  background: image-url("img/bg.jpg") 50% 0%;
  max-height: 500px;

  .container {
    display: inline-block;
    margin: 240px 0 0;
    padding: 5px;
}

  @include max-screen(479px) {
    display: none;
  }

  @include min-screen(480px) {
    background: image-url("img/bg.jpg") 68% 33%;
    max-height: 270px;

    .container {
      margin: 185px 0 85px;
    }

    p {
      margin: 5px 0 40px;
      padding: 5px;
    }
  }

  @include min-screen(768px) {
    background: image-url("img/bg.jpg") 50% 10%;
    max-height: 500px;

    .container {
      font-size: 30px;
      margin: 280px 0 40px 15px;
      padding: 5px;
    }
  }
}

.start-page {
  &.notices {
    padding-left: 0;
  }

  h3 {
        animation: colors 5s linear infinite alternate;
    }

      @keyframes colors {
        0%, 100% {
          color: blue;
        }
        17% {
          color: green;
        }
        34% {
          color: yellow;
        }
        51% {
          color: orange;
        }
        68% {
          color: red;
        }
        85% {
          color: pink;
        }

      }

  .countdown {
    h3 {
      font-size: 20px;
    }

    .timer {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &.left {
    margin-bottom: 20px;
  }

  .alert {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container {
    animation: pulse 10s linear infinite alternate;
  }
}
