.terms-page {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 999999999;
  }

  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
  }

  .inner-container {
    background-color: white;
    padding: 20px;
    border-radius:4px;
  }
}
