.loginbar {
  @include max-screen(640px) {
    span {
      display: none;
    }
  }

  .locale-switcher {
    .flag {
      padding-bottom: 3px;
    }
  }
}

.admin_menu_categories {
  width: 100%;
  display: flex;

  li {
    list-style: none;
  }

  a {
    border-radius: 3px;
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857143;
    padding: 3px 20px;
    white-space: normal;
  }

  ul {
    padding-left: 3px;
  }
}

.language_switch {
  display: none;
}

.has_notifications {
  color: $fsek-orange;
}

.has_notifications.topbar_icon {
  animation: icon_highlight 1s linear infinite;
}

.notification_icon {
  position: relative;

  i {
    position: relative;
  }
}

@keyframes icon_highlight {
  0% {
    top: 0;
  }
  50% {
    top: -2px;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 767px) {
  #notification-top-count {
    display: none;
  }

  .admin_menu_categories {
    display: block;

    .menu {
      padding: 4px 8px;

      a {
        font-size: 17px;
      }
    }
  }

  .topbar_text {
    display: none;
  }

  .topbar_image {
    display: none;
  }

  .language_switch {
    display: block;
  }

  .loginbar span.topbar_icon {
    border-right: 1px solid white;
    color: $white;
    display: block;
    font-size: 20px;
    padding: 3.5vw 5vw 3.5vw 5vw;

    a {
      color: $white;
    }

  }

  .loginbar li:last-child span.topbar_icon {
    border-right: 0;
  }

  div.top {
    background-color: $fsek-orange;
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 0;

    .dropdown_header, .dropdown_bottom {
      border-radius: 0px;
    }

    .dropdown {
      position: static;
    }

    .dropdown.open .megamenu {
      left: 0;
      right: 0;
    }

    .dropdown-menu {
      border-radius: 0 0 4px 4px;
      top: 100%;
      margin-top: 8px;
      width: 100%;
    }

    .dropdown.open .dropdown-menu {
      display: block;
    }

    .container {
      padding: 0;
      display: flex;
      justify-content: center;
    }

    ul.loginbar.pull-right {
      .divider {
        display: none;
      }

      & > li {
        display: inline-block;
        list-style: none;
        padding-bottom: 0;
      }
    }
  }
}
