.profile-img {
  border: 2px solid;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 60%;
}

.user {

  .round-icon {
    border: 50px;
    border-radius: 50%;
    font-size: 18px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 22px;
  }

  .icon-background {
    color: $white;

    &.green {
      background: $unify-green;
    }

    &.red {
      background: $unify-red;
    }
  }

  &.table {
    border: none;

    tr {
      border: none;
    }
  }

  &.post-list {
    list-style: none;
    padding-left: 4px;

    li:before {
      content: "- ";
    }
  }
}
