@import "colors";

.color {
  color: $fsek-orange;
}

a.read-more:hover {
  color:$fsek-orange;
}

.linked:hover {
  color:$fsek-orange;
}

/*Sliders
------------------------------------*/
/*Main Parallax Sldier*/
.da-slide h2 i {
  background: asset-url("../../plugins/parallax-slider/img/bg-heading.png") repeat;
}

/*Sequence Parallax Sldier*/
.sequence-inner {
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#defce7));
  background: -webkit-linear-gradient(#fff, #defce7);
  background: -moz-linear-gradient(#fff, #defce7);
  background: -ms-linear-gradient(#fff, #defce7);
  background: -o-linear-gradient(#fff, #defce7);
  background: linear-gradient(#fff, #defce7)
}

#sequence-theme h2 {
  background: rgba(114, 192, 44, 0.8);
}

#sequence-theme .info p {
  background: rgba(114, 192, 44, 0.8);
}

/*Purchase
------------------------------------*/
.purchase a.btn-buy {
  background: $fsek-orange;
  text-shadow: 0 1px 0 #5fb611;
}
.purchase a.btn-buy:hover {
  background: #5fb611;
}

/*Buttons
------------------------------------*/
.btn-u {
  background: $fsek-orange;
}

/*Service
------------------------------------*/
.service .service-icon {
  color:$fsek-orange;
}

/*Service Blocks*/
.service-alternative .service:hover {
  background:$fsek-orange;
}

/*Thumbnail (Recent Work)
------------------------------------*/
.thumbnail-style h3 a:hover {
  color:$fsek-orange;
}

.thumbnail-style a.btn-more {
  background:$fsek-orange;
}

/*Carousel (Recent Work)*/
.recent-work a:hover span {
  border-bottom:solid 2px $fsek-orange;
}

.bx-wrapper .bx-prev {
  background-image: url(../../plugins/bxslider/images/controls.png);
}
.bx-wrapper .bx-next {
  background-image: url(../../plugins/bxslider/images/controls.png);
}

/*Typography
------------------------------------*/
/*Blockquote*/
blockquote:hover {
  border-left-color:$fsek-orange;
}

.hero {
  border-left-color: $fsek-orange;
}

/*Carousel
------------------------------------*/
.carousel-arrow a.carousel-control:hover {
  color: $fsek-orange;
}

/*Footer
------------------------------------*/

/*Footer Blog*/
.footer .dl-horizontal a:hover {
  color:$fsek-orange;
}

/*Blog Posts
------------------------------------*/
.posts .dl-horizontal a:hover {
  color:$fsek-orange;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
  color: $fsek-orange;
  border-color: $fsek-orange;
}

/*Post Comment*/
.post-comment h3,
.blog-item .media h3,
.blog-item .media h4.media-heading span a {
  color: $fsek-orange;
}

/*Tabs
------------------------------------*/
/*Tabs v1*/
.tab-v1 .nav-tabs {
  border-bottom: solid 2px $fsek-orange;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
  background: $fsek-orange;
}

.tab-v1 .nav-tabs > li > a:hover {
  background: $fsek-orange;
}

/*Tabs v2*/
.tab-v2 .nav-tabs li.active a {
  border-top: solid 2px $fsek-orange;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
  background: $fsek-orange;
}

/*Accardion
------------------------------------*/
.acc-home a.active,
.acc-home a.accordion-toggle:hover {
  color:$fsek-orange;
}
.acc-home .collapse.in {
  border-bottom:solid 1px $fsek-orange;
}

/*Testimonials
------------------------------------*/
.testimonials .testimonial-info {
  color: $fsek-orange;
}

.testimonials .carousel-arrow i:hover {
  background: $fsek-orange;
}

/*Info Blocks
------------------------------------*/
.info-blocks:hover i.icon-info-blocks {
  color: $fsek-orange;
}

/*Breadcrumb
------------------------------------*/
.breadcrumb li,
.breadcrumb li a {
  color: #777;
  text-shadow: 0 1px 0 #fff;
}

.breadcrumb li a {
  color: #aaa;
}

.breadcrumb li.active,
.breadcrumb li a:hover {
  color:$fsek-orange;
}

/*About Page
------------------------------------*/
.team .thumbnail-style:hover h3 a {
  color:$fsek-orange !important;
}

/*Social Icons*/
.team ul.team-socail li i:hover {
  background: $fsek-orange;
}

/*Pricing Page
------------------------------------*/
/*Pricing Head*/
.pricing:hover h4 {
  color:#55c931;
}

.pricing-head h3 {
  background:#55c931;
  text-shadow:0 1px 0 #32a20f;
  border-bottom:solid 1px #41b91c;
}
.pricing-head h4 {
  color:#999;
  background:#fbfef2;
  border-bottom:solid 1px #f5f9e7;
}

/*Pricing Content*/
.pricing-content li {
  border-bottom:solid 1px #f5f9e7;
}
.pricing-content li i {
  color:$fsek-orange;
}

/*Pricing Footer*/
.pricing-footer a,
.pricing-footer button {
  background:$fsek-orange;
  text-shadow:0 1px 0 #38b312;
  border-bottom:solid 2px #41b91c;
}
.pricing-footer a:hover,
.pricing-footer button:hover {
  background:#40ba1a;
}

/*Priceing Active*/
.price-active h4 {
  color:#55c931;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color:#55c931;
}

/*Right Sidebar
------------------------------------*/
/*Right Sidebar*/
.who li i,
.who li:hover i,
.who li:hover a {
  color:$fsek-orange;
}

/*Privacy Page
------------------------------------*/
.privacy a:hover {
  color:$fsek-orange;
}

/*Portfolio Page
------------------------------------*/
/*Portfolio v1*/
.view a.info:hover {
  background: $fsek-orange;
}

/*Portfolio v2*/
.sorting-block .sorting-nav li.active {
  color: $fsek-orange;
  border-bottom: solid 1px $fsek-orange;
}

.sorting-block .sorting-grid li a:hover span.sorting-cover {
  background: $fsek-orange;
}

/*Blog Page
------------------------------------*/
.blog h3 {
  color:$fsek-orange;
}
.blog li a:hover {
  color:$fsek-orange;
}

/*Blog Tags*/
ul.blog-tags a:hover {
  background: $fsek-orange;
}

.blog-post-tags ul.blog-tags a:hover {
  background: none repeat scroll 0 0 $fsek-orange;
}

/*Blog Photos*/
.blog-photos li img:hover {
  box-shadow: 0 0 0 2px $fsek-orange;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner:hover {
  border-color: $fsek-orange;
  border-top-color: $fsek-orange;
}
.blog-twitter .blog-twitter-inner:hover:after {
  border-top-color: $fsek-orange;
}

.blog-twitter .blog-twitter-inner a {
  color: $fsek-orange;
}

/*Blog Item Page
------------------------------------*/
.blog-item h4.media-heading span a {
  color:$fsek-orange;
}

/*Coming Soon Page
------------------------------------*/
.coming-soon-border {
  border-top: solid 3px $fsek-orange;
}

/*Search Page
------------------------------------*/
.booking-blocks p a {
  color: $fsek-orange;
}

/*Icons Page
------------------------------------*/
.icon-page li:hover {
  color:$fsek-orange;
}

/*Glyphicons*/
.glyphicons-demo a:hover {
  color: $fsek-orange;
  text-decoration: none;
}

/*Magazine Page
------------------------------------*/
/*Magazine News*/
.magazine-news .by-author strong {
  color: $fsek-orange;
}

.magazine-news a.read-more {
  color: $fsek-orange;
}

/*Magazine Mini News*/
.magazine-mini-news .post-author strong {
  color: $fsek-orange;
}

.news-read-more i {
  background: $fsek-orange;
}

/*Sidebar Features*/
.magazine-page h3 a:hover {
  color: $fsek-orange;
}

/*Page Features
------------------------------------*/
/*Tag Boxes v1*/
.tag-box-v1 {
  border-top: solid 2px $fsek-orange;
}

/*Tag Boxes v2*/
.tag-box-v2 {
  border-left: solid 2px $fsek-orange;
}

/*Tag Boxes v7*/
.tag-box-v7 {
  border-bottom: solid 2px $fsek-orange;
}

/*Font Awesome Icon Page Style*/
.fa-icons li:hover {
  color: $fsek-orange;
}

.fa-icons li:hover i {
  background: $fsek-orange;
}

/*GLYPHICONS Icons Page Style*/
.bs-glyphicons li:hover {
  color: $fsek-orange;
}

/*Navigation
------------------------------------*/

/*Pager*/
.pager li > a:hover,
.pager li > a:focus {
  background: #5fb611;
  border-color: #5fb611;
}

/*Registration and Login Page v2
------------------------------------*/
.reg-block {
  border-top: solid 2px $fsek-orange;
}
