@import "colors";
@import "mixins";

/*Search Page v1
------------------------------------*/
.search-page h2 {
	font-size: 28px;
	margin-bottom: 10px;
}

.search-blocks {
	overflow: hidden;
	padding: 15px 20px;
	margin-bottom: 25px;
  @include transition(all 0.3s ease-in-out);
}

.search-blocks p a {
	color: $fsek-orange;
}

.search-blocks .search-img li i {
	color: #78ccf8;
	font-size: 12px;
	margin-right: 5px;
}

.search-blocks .search-img img {
	display: block;
	margin: 5px 10px 10px 0;
}

.search-blocks h2 {
	margin-top: 0;
	font-size: 20px;
	line-height: 20px;
}

.search-blocks ul.search-rating li {
	display: inline;
}

.search-blocks ul.search-rating li i {
	color: #f8be2c;
	cursor: pointer;
	font-size: 16px;
}

.search-blocks ul.search-rating li i:hover {
	color: #f8be2c;
}

/*Search Block Colored*/
.search-blocks-colored p,
.search-blocks-colored h2 a,
.search-blocks-colored .search-img li,
.search-blocks-colored .search-img li i {
	color: #fff;
}

/*Search Orange Border Top*/
.search-blocks-top-orange {
	border-top: solid 2px $fsek-orange;
}

.search-blocks-top-orange:hover {
	border-top-color: $fsek-orange-hover;
}

/*Search Orange Border Left*/
.search-blocks-left-orange {
	border-left: solid 2px $fsek-orange;
}

.search-blocks-left-orange:hover {
	border-left-color: $fsek-orange-hover;
}
