@import "colors";
@import "mixins";

/*Block Headline*/
.headline {
  display: block;
  margin: 0 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}
.headline h2,
.headline h3,
.headline h4 {
  border-bottom: 2px solid $fsek-orange;
  color: #555;
  display: inline-block;
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
}
.headline h2 {
  font-size: 23px;
}

.headline-md h2 {
  font-size: 18px;
}

.headline-md {
  margin-bottom: 15px;
}

/*Purchase Block*/
.purchase {
  background: image-url('../img/breadcrumbs.png') repeat;
  box-shadow: inset 0 0 4px #eee;
  margin-bottom: 30px;
  padding: 30px 0;
}
.purchase p {
  margin-bottom: 0;
}
.purchase span {
  color: #666;
  display: block;
  //font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
  margin-bottom: 12px;
}
.purchase a.btn-buy {
  background: $fsek-orange;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 22px;
  padding: 12px 28px 9px;
  text-decoration: none;
  text-shadow: 0 1px 0 #51a00b;
  text-transform: uppercase;
}
.purchase a.btn-buy:hover {
  background: #68af28;
  box-shadow: 0 0 5px #c0c2c1;
  color: #fff;
  text-decoration: none;
}

/*Service*/
.service {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 15px 15px 10px;
}
.service:hover {
  @include transition(box-shadow 0.2s ease-in-out);
  background: #fcfcfc;
  box-shadow: 0 0 5px #ddd;
}
.service:hover i {
  color: #656565;
}

.service .desc {
  padding: 0 15px;
  overflow: hidden;
}
.service .desc h4 {
  font-size: 22px;
  line-height: 25px;
}

.service .service-icon {
  @include transition(all 0.4s ease-in-out);
  color: $fsek-orange;
  float: left;
  font-size: 45px;
  padding: 10px;
  text-align: center;
}
.service .service-icon.icon-cogs {
  font-size: 37px;
}
.service .service-icon.icon-plane {
  font-size: 43px;
}

/* Recent Work  */
.recent-work a {
  background: #fcfcfc;
  display: inline-block;
  text-align: center;
}

.recent-work a:hover {
  text-decoration: none;
}

.recent-work a:hover strong {
  color: #555;
}

.recent-work em.overflow-hidden {
  display: block;
}

.recent-work a span {
  border-bottom: solid 2px #eee;
  display: block;
  padding: 10px;
}

.recent-work a strong {
  color: #555;
  display: block;
}

.recent-work a i {
  color: $gray-text;
}

.recent-work a img {
  @include transition(all 0.8s ease-in-out);
}

.recent-work a:hover img {
  @include transform(scale(1.2) rotate(3deg));
  opacity: 0.8;
}

.recent-work a:hover span {
  @include transition(all 0.3s ease-in-out);
  border-bottom: solid 2px $fsek-orange;
}

/*Blockquote*/
blockquote p {
  font-size: 16px;
  font-weight: 200;
}

blockquote:hover {
  @include transition(all 0.4s ease-in-out);
  border-left-color: $fsek-orange;
}
.hero {
  background: #fcfcfc;
  border-left: 4px solid #94c564;
  color: #566c8a;
  //font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 20px 0;
  padding: 18px;
}
.hero h1, .hero p {
  text-shadow: 1px 1px 0 #fff;
}

.hero-unify p {
  font-size: 13px;
  line-height: 20px;
}

/* Work */
.work {
  margin-top: 6px;
}
.work .details {
  padding: 10px;
}
.work .caption {
  color: #555 !important;
  display: block;
  font-size: 18px !important;
  padding-top: 5px;
}
.work .caption:hover {
  cursor: pointer;
  color: #444 !important;
  text-decoration: underline;
}

/*Footer*/
.footer {
  background: #f9f9f9;
  border-top: 1px solid #eee;
  color: $gray-text;
  margin-top: 40px;
  padding: 20px 0 30px;
  text-shadow: 0 1px 0 #fff;

  .margin-top-0 {
    margin-top: 0;
  }

  .headline {
    margin-bottom: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    border: none;
    color: #555;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 1px 0 #fff;
  }
  p {
    font-size: 14px;
    color: $gray-text;
  }

  a {
    font-size: 14px;
  }

  .footer-subscribe {
    width: 85%;
  }

  .blog-list {
    color: #dadada;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 7px;
      padding: 0 0;
    }
    li span {
      color: #818488;
    }
  }

  .dl-horizontal,
  .dl-horizontal:hover {
    background: none;
    border: none;
  }

  .dl-horizontal {
    a {
      color: $gray-text;
    }
    img {
      border-color: #eee;
    }
  }
}

/*Copyright*/
.copyright {
  background: #333;
  border-top: solid 1px #555;
  font-size: 12px;
  padding: 11px 0 7px;

  p {
    color: none;
  }

  p.copyright-space {
    margin-top: 12px;
  }

  a {
    color: $fsek-orange;
    margin: 0 5px;
  }

  a:hover {
    color: $link-hover-color;
  }
}

/*Page (Features)
------------------------------------*/
/*Thumbnail*/
a.thumbnail {
  padding: 0;
  border: none;
  margin-bottom: 15px;
}

.thumbnail-style {
  padding: 5px;
  margin-bottom: 20px;
}
.thumbnail-style:hover {
  @include transition(box-shadow 0.2s ease-in-out);
  box-shadow: 0 0 8px #ddd;
}
.thumbnail-style h3 {
  margin: 5px 0 0 0;
}
.thumbnail-style h3 a {
  font-size: 20px;
}
.thumbnail-style h3 a:hover {
  color: $fsek-orange;
  text-decoration: none;
}
.thumbnail-style .thumbnail-img {
  position: relative;
  margin-bottom: 10px;
}
.thumbnail-style a.btn-more {
  background: $fsek-orange;
  bottom: 10px;
  color: #fff;
  display: inline-block;
  padding: 1px 6px;
  position: absolute;
  right: -10px;
}
.thumbnail-style a.btn-more:hover {
  box-shadow: 0 0 0 2px #377500;
  text-decoration: none;
}
.thumbnail-style:hover a.btn-more {
  right: 10px;
}

.thumbnail-kenburn img {
  @include transition(all 0.8s ease-in-out);
  left: 10px;
  margin-left: -10px;
  position: relative;
}
.thumbnail-kenburn:hover img {
  @include transform(scale(1.2) rotate(2deg));
}

/*Servive Blocks*/
.servive-block .servive-block-in {
  @include transition(all 0.3s ease-in-out);
  background: #fafafa;
  margin-bottom: 20px;
  padding: 20px 30px;
  text-align: center;
}
.servive-block .servive-block-in:hover {
  box-shadow: 0 0 8px #ddd;
}

.servive-block .servive-block-in h4 {
  line-height: 25px;
}

.servive-block .servive-block-in h4 a:hover {
  color: $fsek-orange;
  text-decoration: none;
}

.servive-block .servive-block-in:hover h4,
.servive-block .servive-block-in:hover i {
  color: $fsek-orange;
}

.servive-block .servive-block-in i {
  @include transition(all 0.4s ease-in-out);
  color: #565656;
  font-size: 40px;
}

.servive-block .servive-block-red {
  background: #e74c3c;
}
.servive-block .servive-block-sea {
  background: #1abc9c;
}
.servive-block .servive-block-blue {
  background: #3498db;
}
.servive-block .servive-block-grey {
  background: #95a5a6;
}
.servive-block .servive-block-yellow {
  background: #f1c40f;
}
.servive-block .servive-block-orange {
  background: #e67e22;
}
.servive-block .servive-block-green {
  background: #2ecc71;
}

.servive-block .servive-block-colored i,
.servive-block .servive-block-colored p,
.servive-block .servive-block-colored h4,
.servive-block .servive-block-colored:hover i,
.servive-block .servive-block-colored:hover h4 {
  color: #fff;
}

.servive-block .servive-block-colored:hover {
  opacity: 0.8;
  box-shadow: none;
}

/*Service Alternative Block*/
.service-alternative .service:hover {
  @include transition(all 0.4s ease-in-out);
  background: #76ca2c;
}
.service-alternative .service:hover i,
.service-alternative .service:hover p,
.service-alternative .service:hover h4 {
  color: #fff;
}

/*Servive Block Versions*/
.service-v1 h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 15px 0;
}

.service-v1 p {
  text-align: justify;
}

/*Posts*/
.posts .dl-horizontal {
  margin-bottom: 0;
  overflow: hidden;
}

.posts .dl-horizontal dt {
  float: left;
  width: 60px;
}

.posts .dl-horizontal dt img {
  border: solid 1px #ddd;
  height: 60px;
  margin-top: 2px;
  padding: 2px;
  width: 60px;
}

.posts .dl-horizontal dd {
  margin-left: 70px;
}

.posts .dl-horizontal dd p {
  margin: 0;
}

.posts .dl-horizontal dd a {
  font-size: 14px;
  line-height: 16px !important;
}

.posts .dl-horizontal dd a:hover {
  color: $fsek-orange;
  text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
  @include transition(all 0.4s ease-in-out);
  border-color: $fsek-orange !important;
  color: $fsek-orange;
}

/*Breadcrumbs*/
.breadcrumbs {
  background: #f9f9f9;
  border-bottom: 1px solid #eee;
  color: $gray-text;
}
.breadcrumbs h1 {
  color: #555;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-shadow: 0 1px 0 #fff;
}

.breadcrumb {
  background: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.breadcrumb a {
  color: $gray-text;
}
.breadcrumb li.active,
.breadcrumb li a:hover {
  color: $fsek-orange;
  text-decoration: none;
}

/* Testimonials */
.testimonials {
  margin-bottom: 10px;
}

.testimonials .testimonial-info {
  color: $fsek-orange;
  font-size: 16px;
  margin-top: 18px;
  padding: 0 15px;
}

.testimonials .testimonial-info span {
  position: relative;
  top: 3px;
}

.testimonials .testimonial-info em {
  color: $gray-text;
  display: block;
  font-size: 13px;
}

.testimonials .testimonial-info img {
  border-radius: 50% !important;
  border: solid 1px #ccc;
  float: left;
  height: 60px;
  margin-right: 15px;
  padding: 2px;
  width: 60px;
}

.testimonials .testimonial-author {
  overflow: hidden;
}

.testimonials .carousel-arrow {
  top: -65px;
  position: relative;
}

.testimonials .carousel-arrow i {
  background: #fafafa;
  color: $gray-text;
  font-size: 20px;
  padding: 2px 8px;
}

.testimonials .carousel-arrow i:hover {
  background: $fsek-orange;
  color: #fff;
}

.testimonials .carousel-control {
  opacity: 1;
  position: absolute;
  text-align: right;
  text-shadow: none;
  width: 100%;
}

.testimonials .carousel-control.left {
  left: auto;
  right: 27px;
}
.testimonials .carousel-control.right {
  right: 0px;
}

.testimonials.testimonials-v1 .item p {
  background: #fafafa;
  font-size: 14px;
  font-style: italic;
  padding: 15px;
  position: relative;
}

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 0;
  left: 80px;
  position: absolute;
  width: 0;
}

.testimonials.testimonials-v1 .item p:after {
  border-left-style: inset; /*FF fixes*/
  border-left: 0 solid transparent;
  border-right-style: inset; /*FF fixes*/
  border-right: 22px solid transparent;
  border-top: 22px solid #fafafa;
}

.testimonials.testimonials-v2 .testimonial-info {
  padding: 0 20px;
}

.testimonials.testimonials-v2 p {
  background: #fafafa;
  font-size: 14px;
  font-style: italic;
  padding-bottom: 15px;
  padding: 15px;
}

.testimonials.testimonials-v2 .carousel-arrow {
  top: -55px;
}

.testimonials.testimonials-v2 .item p:after,
.testimonials.testimonials-v2 .item p:before {
  bottom: 45px;
  content: " ";
  display: block;
  height: 0;
  left: 8%;
  position: absolute;
  width: 0;
}

.testimonials.testimonials-v2 .item p:after {
  border-left-style: inset; /*FF fixes*/
  border-left: 25px solid transparent;
  border-right-style: inset; /*FF fixes*/
  border-right: 0px solid transparent;
  border-top: 20px solid #fafafa;
}

/*Tabs v1*/
.tab-v1 .nav-tabs {
  background: none;
  border-bottom: solid 2px $fsek-orange;
  border: none;
}

.tab-v1 .nav-tabs a {
  font-size: 14px;
  padding: 5px 15px;
}

.tab-v1 .nav-tabs > .active > a,
.tab-v1 .nav-tabs > .active > a:hover,
.tab-v1 .nav-tabs > .active > a:focus {
  background: $fsek-orange;
  border: none;
  color: #fff;
}

.tab-v1 .nav-tabs > li > a {
  border: none;
}
.tab-v1 .nav-tabs > li > a:hover {
  background: $fsek-orange;
  color: #fff;
}

.tab-v1 .tab-content {
  padding: 10px 0;
}

.tab-v1 .tab-content img {
  margin-bottom: 15px;
  margin-top: 4px;
}

.tab-v1 .tab-content img.img-tab-space {
  margin-top: 7px;
}

/*Tabs v2*/
.tab-v2 .nav-tabs {
  border-bottom: none;
}

.tab-v2 .nav-tabs li a {
  background: none;
  border: none;
  padding: 9px 16px;
}

.tab-v2 .nav-tabs li.active a {
  background: #fff;
  border-bottom: none !important;
  border-top: solid 2px $fsek-orange;
  border: solid 1px #eee;
  padding: 7px 15px 9px;
}

.tab-v2 .tab-content {
  border: solid 1px #eee;
  padding: 10px 16px;
}

/*Tabs v3*/
.tab-v3 .nav-pills li a {
  background: #fafafa;
  border: solid 1px #eee;
  color: $gray-text;
  font-size: 17px;
  margin-bottom: 3px;
  padding: 4px 8px;
}

.tab-v3 .nav-pills li a:hover,
.tab-v3 .nav-pills li.active a {
  background: $fsek-orange;
  border: solid 1px #68af28;
  color: #fff;
}

.tab-v3 .nav-pills li i {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  width: 1.25em;
}

.tab-v3 .tab-content {
  background: #fafafa;
  border: solid 1px #eee;
  padding: 15px;
}

/*Accardion v1*/
.acc-v1 .panel-heading {
  box-shadow: none;
  padding: 0;
}

.acc-v1 .panel-heading a {
  background: #fefefe;
  display: block;
  font-size: 14px;
  padding: 5px 15px;
}

.acc-icon a.accordion-toggle i {
  color: #585f69;
  margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
  color: #39414c;
}

/*Carousel v1*/
.carousel-v1 .carousel-caption {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  padding: 7px 15px;
  right: 0;
}

.carousel-v1 .carousel-caption p {
  color: #fff;
  margin-bottom: 0;
}

.carousel-v1 .carousel-arrow a.carousel-control {
  background: none;
  font-size:30px;
  height:inherit;
  opacity: 1;
  position: inherit;
  text-shadow: none;
  width: inherit;
}

.carousel-v1 .carousel-arrow a i {
  background: #000;
  margin-top: -18px;
  opacity: 0.6;
  padding: 2px 12px;
  position: absolute;
  top: 50%;
}
.carousel-v1 .carousel-arrow a i:hover {
  opacity: 0.8;
}

.carousel-v1 .carousel-arrow a.left i {
  left: 0;
}
.carousel-v1 .carousel-arrow a.right i {
  right: 0;
}

/*About Page
------------------------------------*/
.team ul.team-socail {
  text-align: right;
}
.team ul.team-socail li {
  margin: 0 !important;
  padding: 0 !important;
}

.team ul.team-socail li a,
.team ul.team-socail li a:hover {
  text-decoration: none;
}

.team ul.team-socail li i {
  background: #f7f7f7;
  color: #aaa;
  display: inline-block;
  font-size: 20px;
  min-width: 30px;
  padding: 3px;
  text-align: center;
}
.team ul.team-socail li i:hover {
  @include transition(all 0.2s ease-in-out);
  background: $fsek-orange;
  color: #fff;
}

.team .thumbnail-style {
  padding: 12px;
}

.team .thumbnail-style small {
  display: block;
  font-size: 12px;
}

.team .thumbnail-style h3 {
  margin-bottom: 10px;
}
.team .thumbnail-style:hover h3 a {
  color: $fsek-orange !important;
}

/*Gallery Page
------------------------------------*/
.gallery-page .thumbnail,
.gallery-page .thumbnail:hover {
  border: none;
  box-shadow: none;
  padding: 0;
}
.gallery-page .thumbnails {
  margin-bottom:6px;
}

/*Privacy Page
------------------------------------*/
.privacy a {
  text-decoration: underline;
}
.privacy a:hover {
  color: $fsek-orange;
  text-decoration: none;
}

/*Portfolio Item Page v1
------------------------------------*/
.portfolio-item h2 {
  color: #555;
  font-size: 24px;
  margin: 0 0 15px;
}
.portfolio-item li {
  padding: 3px 0;
}
.portfolio-item p a {
  text-decoration: underline;
}
.portfolio-item p a:hover {
  text-decoration: none;
}

/*Portfolio Item v1*/
.portfolio-item1 ul {
  margin: 10px 0 20px;
}

.portfolio-item1 li {
  font-size: 16px;
  margin-bottom: 3px;
}

.portfolio-item1 li i {
  font-size: 18px;
  margin-right: 4px;
}

/*Sidebar Features
------------------------------------*/
/*Blog Tags*/
ul.blog-tags li {
  display: inline-block;
}

ul.blog-tags a {
  background: #f7f7f7;
  display: inline-block;
  font-size :13px;
  margin: 0 3px 6px 0;
  padding: 2px 7px;
}

ul.blog-tags a i {
  color: #666;
}

ul.blog-tags a:hover {
  background: $fsek-orange;
}

ul.blog-tags a:hover,
ul.blog-tags a:hover i {
  @include transition(all 0.2s ease-in-out);
  color: #fff !important;
  text-decoration: none;
}

/*Blog Photo Stream*/
.blog-photos li {
  display: inline;
}
.blog-photos li img {
  height: 58px;
  margin: 0 2px 8px;
  opacity: 0.6;
  width: 58px;
}
.blog-photos li img:hover {
  box-shadow: 0 0 0 2px $fsek-orange;
  opacity: 1;
}

/*Blog Latest Tweets*/
.blog-twitter .blog-twitter-inner {
  background: #fafafa;
  border-top: solid 2px #eee;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
}

.blog-twitter .blog-twitter-inner,
.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
  @include transition(all 0.3s ease-in-out);
}

.blog-twitter .blog-twitter-inner:after,
.blog-twitter .blog-twitter-inner:before {
  bottom: 0px;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  right: 0px;
  width: 0;
}

.blog-twitter .blog-twitter-inner:after {
  border-left-style: inset; /*FF fixes*/
  border-left: 0px solid transparent;
  border-right-style: inset; /*FF fixes*/
  border-right: 15px solid transparent;
  border-top: 15px solid #f0f0f0;
}
.blog-twitter .blog-twitter-inner:before {
  border-bottom-style: inset; /*FF fixes*/
  border-bottom: 15px solid #fff;
  border-left-style: inset; /*FF fixes*/
  border-left: 15px solid transparent;
  border-right: 0 solid transparent;
}

.blog-twitter .blog-twitter-inner:hover {
  border-color: $fsek-orange;
  border-top-color: $fsek-orange;
}
.blog-twitter .blog-twitter-inner:hover:after {
  border-top-color: $fsek-orange;
}

.blog-twitter .blog-twitter-inner span {
  color: $gray-text;
  display: block;
  font-size: 11px;
}

.blog-twitter .blog-twitter-inner a {
  color: $fsek-orange;
  text-decoration: none;
}
.blog-twitter .blog-twitter-inner a:hover {
  text-decoration: underline;
}

/* EDIT LINUS */
/* .blog-twitter .blog-twitter-inner i.icon-twitter { */
.blog-twitter .blog-twitter-inner i.fa-twitter {
  color: #bbb;
  font-size: 18px;
  position: relative;
  top: 2px;
}

/*Choose Block*/
.who li {
  margin-bottom: 6px;
}
.who li i {
  color: $fsek-orange;
  font-size: 18px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.who li:hover i,
.who li:hover a {
  color: $gray-text;
}
.who li:hover a:hover {
  text-decoration: none;
}

/*Sidebar Menu
------------------------------------*/
/*Sidebar Menu v1*/
.sidebar-nav-v1 li {
  padding: 0;
}

.sidebar-nav-v1 li a {
  display: block;
  padding: 8px 30px 8px 10px;
}

.sidebar-nav-v1 li a:hover {
  text-decoration: none;
}

.sidebar-nav-v1 li.active,
.sidebar-nav-v1 li.active:hover {
  background: #f5f5f5;
  border-color: #ddd;
}

.sidebar-nav-v1 li.active a {
  color: #555;
}

.sidebar-nav-v1 span.badge {
  margin-right: 10px;
  margin-top: 10px;
}

.sidebar-nav-v1 span.badge-green {
  background: #2ecc71;
}
.sidebar-nav-v1 span.badge-red {
  background: #e74c3c;
}
.sidebar-nav-v1 span.badge-blue {
  background: #3498db;
}
.sidebar-nav-v1 span.badge-sea {
  background: #1abc9c;
}

/*Tag Boxes
------------------------------------*/
.tag-box  {
  padding: 20px;
  margin-bottom: 30px;
}

.tag-box h2 {
  font-size: 20px;
  line-height: 25px;
}

.tag-box p {
  margin-bottom: 0;
}

/*Tag Boxes v1*/
.tag-box-v1 {
  border: solid 1px #eee;
  border-top: solid 2px $fsek-orange;
}

/*Tag Boxes v2*/
.tag-box-v2 {
  background: #fafafa;
  border: solid 1px #eee;
  border-left: solid 2px $fsek-orange;
}

/*Tag Boxes v3*/
.tag-box-v3 {
  border: solid 2px #eee;
}

/*Tag Boxes v4*/
.tag-box-v4 {
  border: dashed 1px #bbb;
}

/*Tag Boxes v5*/
.tag-box-v5 {
  border: dashed 1px #ccc;
  margin: 20px 0;
  text-align: center;
}

.tag-box-v5 span {
  color: #555;
  font-size: 28px;
  margin-bottom: 0;
}

/*Tag Boxes v6*/
.tag-box-v6 {
  background: #fafafa;
  border: solid 1px #eee;
}

/*Tag Boxes v7*/
.tag-box-v7 {
  border: solid 1px #eee;
  border-bottom: solid 2px $fsek-orange;
}

/*Panels (Portlets)
------------------------------------*/
/*Panel Table*/
.panel .table {
  margin-bottom: 0;
}

/*Panel Blue*/
.panel-blue {
  border-color: #3498db;
}

.panel-blue > .panel-heading {
  background: #3498db;
  color: #fff;
}

/*Panel Red*/
.panel-red {
  border-color: #e74c3c;
}

.panel-red > .panel-heading {
  background: #e74c3c;
  color: #fff;
}

/*Panel Green*/
.panel-green {
  border-color: #2ecc71;
}

.panel-green > .panel-heading {
  color: #fff;
  background: #2ecc71;
}

/*Panel Sea*/
.panel-sea {
  border-color: #1abc9c;
}

.panel-sea > .panel-heading {
  background: #1abc9c;
  color: #fff;
}

/*Panel Orange*/
.panel-orange {
  border-color: #e67e22;
}

.panel-orange > .panel-heading {
  background: #e67e22;
  color: #fff;
}

/*Panel Yellow*/
.panel-yellow {
  border-color: #f1c40f;
}

.panel-yellow > .panel-heading {
  background: #f1c40f;
  color: #fff;
}

/*Panel Grey*/
.panel-grey {
  border-color: #95a5a6;
}

.panel-grey > .panel-heading {
  background: #95a5a6;
  color: #fff;
}

/*Promo Page
------------------------------------*/
/*Slider Part*/
.fullwidthbanner-container.slider-promo {
  max-height: 460px !important;
}

.slider-promo-info-bg {
  background: url(../img/bg-black.png) repeat;
  padding: 25px 20px 20px;
}

.slider-promo-info span.big-size {
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 25px;
  text-shadow: 0 !important;
}

.slider-promo-info p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

/*Promo Box*/
.promo-box {
  margin: 25px 0 20px;
  padding: 20px;
  text-align: center;
}

.promo-box i {
  display: block;
  font-size: 50px;
}

.promo-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.promo-box strong,
.promo-box strong a {
  color: #555;
  display: block;
  font-size: 20px;
  font-weight: 200;
  margin: 20px 0 15px;
}

.promo-box:hover strong,
.promo-box:hover strong a {
  color: #e74c3c;
}

/*Promo Service*/
.promo-service {
  margin-bottom: 20px;
}

.promo-service a.btn-u {
  margin: 0 20px 10px 0;
}

/*Promo Elements*/
.title-box {
  border-bottom: solid 1px #eee;
  font-size: 16px;
  margin: 20px 0;
  padding: 40px 0;
  text-align: center;
}

.title-box .title-box-text {
  color: #555;
  display: block;
  font-size: 35px;
  font-weight: 200;
}

.block-blockquote {
  border: dashed 1px #ccc;
  margin: 20px 0;
  text-align: center;
}

.block-blockquote-inner {
  padding: 15px;
}

.block-blockquote p {
  font-size: 26px;
  margin-bottom: 0;
}

/*Info Blocks*/
.info-blocks {
  margin-bottom: 15px;
}

.info-blocks:hover i.icon-info-blocks {
  @include transition(all 0.2s ease-in-out);
  color: $fsek-orange;
}

.info-blocks i.icon-info-blocks {
  color: $gray-text;
  float: left;
  font-size: 40px;
  margin-top: 5px;
  min-width: 50px;
  text-align: center;
}

.info-blocks .info-blocks-in {
  overflow: hidden;
  padding: 0 10px;
}

.info-blocks .info-blocks-in h3 {
  color: #555;
  font-size: 20px;
  line-height: 28px;
}

.info-blocks .info-blocks-in p {
  font-size: 12px;
}
/*Dropdown Submenu for BS3
------------------------------------*/
.dropdown-submenu {
  position: relative;
}

@media (max-width: 767px) {
  .dropdown-submenu > a:after {
    content: " ";
  }
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  margin-left: 0px;
  margin-top: -5px;
  top: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

@media (max-width: 767px) {
  .dropdown-submenu > .dropdown-menu {
    display: block;
    margin-left: 15px;
  }
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.dropdown-menu li [class^="fa-"],
.dropdown-menu li [class*=" fa-"] {
  display: inline-block;
  left: -3px;
  margin-right: 1px;
  position: relative;
  text-align: center;
  width: 1.25em;
}

.dropdown-menu li [class^="fa-"].fa-lg,
.dropdown-menu li [class*=" fa-"].fa-lg {
  /* increased font size for fa-lg */
  width: 1.5625em;
}
