<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new'), new_admin_adventure_path, class: 'btn primary') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid @grid do |g|
    g.column(name: Adventure.human_attribute_name(:title), attribute: 'title', assoc: :translations, filter: false) do |a|
      link_to(a.title, admin_adventure_adventure_missions_path(a))
    end
    g.column(name: model_name(Introduction), attribute: 'title', assoc: :translations, filter: true) do |a|
        link_to(a.introduction.title, admin_introduction_path(a.introduction))
      end
    g.column(name: Adventure.human_attribute_name(:start_date), attribute: 'start_date', filter: false)
    g.column(name: Adventure.human_attribute_name(:end_date), attribute: 'end_date', filter: false)
  end -%>
</div>
