<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h3><%= title(t('.title')) %></h3>
  </div>

  <%= render('form', introduction: @introduction) %>
  <hr>
  <%= link_to(t('.all_introductions'), admin_introductions_path,
                                       class: 'btn secondary') %>
</div>

