<% if posts.present? %>
  <div class="col-md-12 col-sm-12">
    <div class="tab-v1">
      <div class="headline">
        <h4><%= models_name(Post) %></h4>
      </div>

      <%= post_tab_header(posts) %>

      <div class="tab-content">
        <%= post_tab(posts) %>
      </div>
    </div>
  </div>
<% end %>
