<% title("Redigera din användarprofil") %>

<% if @no_profile_data %>
  <h2>Hej och välkommen till F-sektionenens hemsida!</h2>
  <p>Det ser ut som att du inte fyllt i några användaruppgifter om dig själv än! Om du gör det förenklar du både för oss på sektionen samt för dig själv i ditt framtida engagemangsliv på F. Galet bra, eller hur?</p>
<% end %>

<%= render 'form' %>

<br>
<%= link_to 'Tillbaka till profilen', @profile %>
