<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('post.new') %></h2>
  </div>

  <%= render 'form', post: @post, council: @council %>
  <%= link_to(t('council.show'), council_path(@council)) %>
</div>
