<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <%= content_tag(:h2, t(:new, attr: model_name(Post))) %>
  </div>

  <%= render 'form'%>
  <%= link_to(t(:show, attr: model_name(Council)), @council) %><br>
</div>
