%h1 PermissionPosts#index
%table
  %tr
    %th Post
    %th Permissions
    %th
  - @posts.each do |post|
    %tr
      %td= link_to post.title, '/permissions/'+post.id.to_s
      %td
        %table
          - post.permissions.each do |p|
            %tr
              %td= (p.action + ' ' + p.subject_class)

