<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p>
				<strong>Titel:</strong>
				<%= @post.title %>
			</p>

			<p>
				<strong>Gräns:</strong>
				<%if @post.limit == nil%>
				Godtycklig
				<%else%>
				<%= @post.limit %>
				<%end%>
			</p>

			<p>
				<strong>Beskrivning:</strong>
				<%= simple_format(@post.description) %>
			</p>
			<%= link_to 'Redigera post', edit_council_post_path(@council,@post) %>
			
		</div>		<!-- col-md-4 closes -->
		<div class="col-md-4">
		</div>
	</div>	<!-- row closes -->
</div><!-- container closes -->




