<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 reg-page">
      <div class="page-header">
            <h3>Ny Kandidatur</h3>
      </div>
      <%= render 'form' %>
      <%= link_to 'Tillbaka', candidates_path %>
    </div>
  </div>
</div>
