<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h3><%= t(:new_attr, attr: model_name(Candidate)) %></h3>
  </div>
  <%= render 'form' %>
  <%= link_to(t(:back), candidates_path) %>
</div>
