<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= title(t('.title')) %></h2>
  </div>
  <%= render 'form', candidate_view: @candidate_view %>
  <hr>
  <%= link_to(t('.all_candidates'), candidates_path,
                                    class: 'btn secondary') %>
</div>
