<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <%= content_tag(:h2, t(:edit, attr: model_name(Candidate))) %>
  </div>
  <%= render 'form'%>
  <%= link_to(t(:index, attr: models_name(Candidate)), candidates_path,
                                                       class: 'btn') %>
  <% if @candidate.editable? %>
    <%= link_to(t(:remove, attr: model_name(Candidate)), candidate_path(@candidate),
                                                        method: :delete,
                                                        class: "btn") %>
  <% end%>
</div>
