<h1 class="headline headline-md"><%= t('nollning.welcome') %></h1>
<div class="col-md-9">
  <div class="row search-bloks search-blocks-orange">
    <p>
  Välkommen till Piratnollningens hemsida, hemsidan för F-sektionens nollning 2014.
  På hemsidan finner du allt du behöver veta inför nollningen, bland annat schema, ordlista och information från Föset - vi som anordnar nollningen.
  </p>
  <p>
  Nollningen är till för att du som nyantagen ska få en så rolig studiestart som det bara går och hitta din plats på sektionen, på LTH och i Lund.
  Nollningen är utformad så att den ska passa alla! Dessa fyra veckor kommer vara starten för din tid på LTH och förhoppningsvis bli fyra av de bästa veckorna i ditt liv!
  </p>
  <p>
  F-sektionen är sektionen för Teknisk Fysik, Teknisk Matematik och Teknisk Nanovetenskap.
  Vi är den äldsta och därav den bästa sektionen på LTH - något att vara stolt över. F-sektionens nollningstema är i år Piratnollning.
  </p>
  <p>
  </div>
    
</div>
<div class="col-md-3">
  <%= render 'nollning/sidebar' %>
</div>
