<% if @page.present? %>
  <%= render '/pages/page', page: @page, title: true %>

  <% if @constant.present? %>
    <div class="col-md-10 nollning-video">
      <iframe width="560" height="315" src="<%= @constant.value %>" frameborder="0" allowfullscreen></iframe>
    </div>
  <% end %>
<% end %>
