<div class="row">
  <ul class="nollning grid">
    <li class="col-md-3 col-sm-6 col-xs-12"></li>
    <li class="col-md-3 col-sm-6 col-xs-12"></li>
    <li class="col-md-3 col-sm-6 col-xs-12"></li>
    <li class="col-md-3 col-sm-6 col-xs-12"></li>
  </ul>
</div>
