<% provide(:title, t('tool.title')) %>
<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h2><%= t('tool.edit') %></h2>
  </div>

  <%= render 'form', tool: @tool %>

</div>
