<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('tool.title')) %></h1>
  </div>
  <%= link_to(t('tool.new'), new_admin_tool_path, class: 'btn primary') %>

  <p class="pull-right"><%= t('tool.free') %></p>
  <br>

  <ul class="list-group">
    <% @all_tools.each do |tool| %>
      <%= tool_link(tool, admin_tool_path(tool)) %>
    <% end %>
  </ul>

</div>
