<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h3><%= title(t('.title')) %></h3>
  </div>
  <%= render('form', group: @group) %>
  <hr>
  <%= link_to(t('.destroy'), admin_group_path(@group),
              method: :delete, class: 'btn danger pull-right') %>
  <%= link_to(t('.all_groups'), admin_groups_path, class: 'btn secondary') %>
</div>
