<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-xs-12">
  <%= link_to t('.new'), new_admin_group_path, class: 'btn primary' %>
  <%= link_to t('.all_introductions'), admin_introductions_path, class: 'btn secondary' %>
</div>

<div class="col-md-10 col-xs-12">
  <%= grid(@grid) do |g|
    g.column(name: Group.human_attribute_name(:name), attribute: 'name', filter: false) do |group|
      link_to group.name, edit_admin_group_path(group)
    end
    g.column(name: t('.year'), attribute: 'start', assoc: :introduction, filter: false) do |group|
      if group.introduction.present?
        group.introduction.year
      end
    end
    g.column(name: Group.human_attribute_name(:group_type),
             attribute: 'group_type',
             filter: false) do |group|
      group_type_str(group)
    end
    g.column(name: Group.human_attribute_name(:number), attribute: 'number', filter: false)
    g.column(filter: false) do |group|
      link_to t('.manage_faddrar'), admin_group_group_users_path(group)
    end
  end -%>
</div>
