<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3> Hej <%= @rent.p_name %></h3>
<% if !@rent.aktiv %>
    <p>Din bokning har bokats över utav ett utskott.</p>
    <p>Om du tror att någonting har gått fel eller om det är lätt att lösa, svara på mejlet och kontakta
      bilförmannen.</p>
<% else %>
    <p>Din bokning har markerats som aktiv igen.</p>
<% end %>
<br>

<%= render 'attributes_html', rent: @rent%>
<br>

<p>Mvh,<br>
  Bilförmannen</p>
</body>
</html>