<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3> Hej <%= @rent.p_name %></h3>

<%= render 'attributes_html', rent: @rent%>
<br>

<% if (@rent.status != "Bekräftad") %>
    <p>Din bokning måste hanteras direkt av bilförmannen och ett mejl kommer skickas ut då bokningen är beräkftad eller
      nekad.</p>
<% end %>
<p>Har du några frågor så svarar du enklast direkt på detta mejl.</p>

<p>Mvh,<br>
  Bilförmannen</p>
</body>
</html>