<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h3> Hej <%= @rent.p_name %></h3>

<p>Din bokningsstatus har ändrats till <%= @rent.status %></p>
<% if @rent.status == "Nekad" %>
    <p>Kommentar</p>

    <p><%= @rent.comment %></p>

    <p>Överklagan kan göras till styrelsen.</p>
<% end %>
<%= render 'attributes_html', rent: @rent%>
<br>

<p>Har du några frågor så svarar du enklast direkt på detta mejl.</p>

<p>Mvh,<br>
  Bilförmannen</p>
</body>
</html>