/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require custom
 *= require app 
 *= require bootstrap
 *= require_self
 *= require style 
 *= require header1
 *= require responsive
 *= require font-awesome
 * require xaxa-font-awesome
 *= require page_search
 *= require page_magazine
 *= require page_login_reg
 *= require portfolio
 *= require style
 *= require timeline  
 *= require default_theme
 * require_tree .
 *= require start_page
 *= require phrasing
 *= require fullcalendar 
 *= require colorbox
 *= require countdown
 *= require jquery.countdown 
 *= require elections 
 *= require fancybox 
 *= require faq
 *= require gallery  
 */

 /* Override for Bootstrap 3 font location */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
} 

.content {
  padding-top: 20px;
}
