.cafe-date {
  width: 100px;
  height: 85px;
  color: #fff;
  float: center;
  text-align: center;
  background: #eb7125;
  margin: 7px 13px 0 0;
  padding: 7px 10px 4px;
  border: 2px;
  border-color: black;
  border-radius: 10px !important;
  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
  }
}