.cafe-date {
  background: $background_color;
  border: 2px;
  border-color: $border_color;
  border-radius: 10px !important;
  color: $text_color;
  float: center;
  height: 85px;
  margin: 7px 13px 0 0;
  padding: 7px 10px 4px;
  width: 100px;

  span {
    display: block;
    font-size: 20px;
    font-weight: 200;
    line-height: 25px;
  }
}
