// See http://sachagreif.com/sass-color-variables

// Color definitions
$fsek-orange: #eb7125;
$black: #fff;
$highlight: 0 1px 0 #fff;
$gray-text: #777;
$light-gray-text: #eee;
$dark-gray: #585f69;

// Function definitions
$text-color: $black;
$border-color: $black;
$box-color: $fsek-orange;
