/* unvisited link */
a:link {
    color: #eb7125;
}

/* visited link */
a:visited {
    color: #eb7125;
}

/* mouse over link */
a:hover {
    color: #eb7125;
}

/* selected link */
a:active {
    color: #eb7125;
}
.black-link a a:visited a:hover a:active {
  color: #777 !important;
}

/*Easy Block
------------------------------------*/
.easy-block-v1 {
  position: relative;
}

.easy-block-v1 img {
  width: 100%;
}

.easy-block-v1 .overflow-h h3 {
  width: 60%; 
  float: left;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
  left: 0px;
  top: 10px;
  z-index: 1;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
}

/*Easy Block v2
------------------------------------*/
.easy-block-v2 {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.easy-block-v2 img {
  width: 100%;
}

.easy-bg-v2 {
  top: 5px;
  color: #fff;
  width: 100px;
  padding: 5px;
  right: -32px;
  font-size: 13px;
  position: absolute;
  text-align: center;
  letter-spacing: 2px;
  transform: rotate(45deg);   
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.rgba-red { background-color: rgba(231,76,60,0.8);}
.rgba-blue{ background-color: rgba(52,152,219,0.8);}
.rgba-default { background-color: rgba(114,192,44,0.8);}
.rgba-purple { background-color: rgba(155,107,204,0.8);}

/*Easy Block v3
------------------------------------*/
.easy-block-v3 {
  text-align: left;
  background: #585f69;
  margin-bottom: 10px;
  padding: 30px 20px 20px;
}

.easy-block-v3.first { 
  background: #696f77; 
}
.easy-block-v3.second { 
  background: #707780; 
}
.easy-block-v3.third { 
  background: #787f88; 
}

.easy-block-v3 i {
  color: #fff;
  float: left;
  font-size: 30px;
  min-width: 45px;
  padding-top: 10px;
}

.easy-block-v3 .inner-faq-b {
  overflow: hidden;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
  font-size: 21px;
  margin-bottom: 8px;
}

.easy-block-v3 .inner-faq-b h4 {
  color: #fff;
  font-size: 17px;
  margin-bottom: 2px;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
  color: #fff;
}

.carousel-indicators li {
display: inline-block !important;
width: 10px !important;
height: 10px !important;
margin: 1px !important;
text-indent: -999px !important;
border: 1px solid #fff !important;
border-radius: 10px !important;
cursor: pointer !important;
background-color: #000 \9 !important;
background-color: rgba(0,0,0,0) !important;
}
.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #fff !important;
}

.carousel-example-generic-2 img {  
  margin:auto;
  max-height:200px !important;
  width:auto !important;
}
.carousel-category img {  
  margin:auto;
  max-height:150px !important;
  width:auto !important;
}

/*Colored Content Boxes
------------------------------------*/
.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
}

.servive-block p,
.servive-block h2 {
  color: #fff;
}

.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-light,
.servive-block-default {
  background: #fafafa;
  border: solid 1px #eee; 
}

.servive-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
  color: #555;
}

.servive-block-u {
  background: #72c02c;
}
.servive-block-blue {
  background: #3498db;
}
.servive-block-red {
  background: #e74c3c;
}
.servive-block-sea {
  background: #1abc9c;
}
.servive-block-grey {
  background: #95a5a6;
}
.servive-block-yellow {
  background: #f1c40f;
}
.servive-block-orange {
  background: #e67e22;
}
.servive-block-green {
  background: #2ecc71;
}
.servive-block-purple {
  background: #9b6bcc;
}
.servive-block-aqua {
  background: #27d7e7;
}
.servive-block-brown {
  background: #9c8061;
}
.servive-block-dark-blue {
  background: #4765a0;
}
.servive-block-light-green {
  background: #79d5b3;
}
.servive-block-dark {
  background: #555;
}
.servive-block-light {
  background: #ecf0f1;
}

.rounded-x {
  border-radius: 25% !important;
  height: 80px !important;
  width: auto;
  position: center;
}

.grid-height {
  height: 150px;
}
.border-dotted {
 border-style: solid;
 border-width: 1px;
}

/*Funny Boxes
------------------------------------*/
.funny-boxes {
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 25px;
  background: #fff;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.funny-boxes h2  {
  color: #555;
}

.funny-boxes   {
  color: #72c02c;
}

.funny-boxes .funny-boxes-img li i {
  color: #72c02c;
  font-size: 12px;
  margin-right: 5px;
}

.funny-boxes .funny-boxes-img img {
  display: block;
  margin: 5px 10px 10px 0;
}

.funny-boxes h2 {
  margin-top: 0;
  font-size: 20px;
  line-height: 20px;
}

.funny-boxes ul.funny-boxes-rating li {
  display: inline;
}

.funny-boxes ul.funny-boxes-rating li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.funny-boxes ul.funny-boxes-rating li i:hover {
  color: #f8be2c;
}

/*Funny Colored Boxes*/
.funny-boxes-colored p,
.funny-boxes-colored h2 ,
.funny-boxes-colored .funny-boxes-img li,
.funny-boxes-colored .funny-boxes-img li i {
  color: #fff;
}
/*Orange Left Bordered Funny Box**/
.funny-boxes-left-orange {
  border-left: solid 2px #fff;
}

.funny-boxes-left-orange:hover {
  border-left-color: #eb7125;
}


/*Green Right Bordered Funny Box**/
.funny-boxes-right-u {
  border-right: solid 2px #eb7125;
}

.funny-boxes-right-u:hover {
  border-right-color: #eb7125;
}
#phrasing-edit-all-phrases { /* Hide to avoid linking to /phrasing*/
  display:none;
}
