/* unvisited link */
a:link {
    color: #eb7125;
}

/* visited link */
a:visited {
    color: #eb7125;
}

/* mouse over link */
a:hover {
    color: #eb7125;
}

/* selected link */
a:active {
    color: #eb7125;
}
.black-link a a:visited a:hover a:active {
  color: #777 !important;
}

