@font-face {
  font-family: "questknight";
  src: asset-url("assets/questknight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ancient";
  src: asset-url("assets/ancient.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: asset-url("assets/glyphicons-halflings-regular.eot");
  src: asset-url("assets/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  asset-url("assets/glyphicons-halflings-regular.woff") format("woff"),
  asset-url("assets/glyphicons-halflings-regular.ttf") format("truetype"),
  asset-url("assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

