.album-col {
  height: 100% !important;
}
.max-height{
  max-height:200px !important;
  height:auto;  
}
.img-max-height{
  width: 100%;
  height: auto; 
}
.image-container{
    width: 100%;
    height: 300px;
    overflow: hidden; 
}
.image-preview-container {
    width: 100%;
    height: 200px;
    overflow: hidden; 
}
.edit-image-container{
    width: 100%;
    height: 150px;
    overflow: hidden; 
}


.vertical-align {
    display: flex !important;
    align-items: center !important;
}

.row-height{
  height:250px !important;
}
.album-preview{
  display:block;
  max-height:100%;
  height:auto;
  max-width:100%;
  width:auto;  
}
.panel-title {
  color: #FFF important;
}