/*Top Bar (login, search etc.)
------------------------------------*/
.top-v1 {
	background: #fdfdfd;
	border-bottom: solid 1px #f0f0f0;
}

/*Top Contacts*/
.top-v1 ul {
	margin: 0;
	padding: 0;
}

.top-v1 .top-v1-contacts li {
	color: #666;
	padding: 5px 0;
	font-size: 12px;
	margin-right: 15px;
	display: inline-block;
}

.top-v1 .top-v1-contacts i {
	color: #999;
	font-size: 13px;
	margin-right: 3px;
}

/*Top Data*/
.top-v1 .top-v1-data {
	text-align: right;
}

.top-v1 .top-v1-data li {
	padding: 5px 11px;
	display: inline-block;	
	border-right: solid 1px #eee;
}

.top-v1 .top-v1-data li:first-child {
	border-left: solid 1px #eee;
}

.top-v1 .top-v1-data li a {
	font-size: 12px; 
}

.top-v1 .top-v1-data li a:hover {
	text-decoration: none;
}

.top-v1 .top-v1-data li i {
	color: #777;
	font-size: 13px; 
}

.top-v1 .top-v1-data li a:hover i {
	color: #72c02c;
}

@media (max-width: 992px) {
	.top-v1 ul {
		text-align: center !important;
	}

	.top-v1 .top-v1-contacts {
		margin: 10px 0;
	}

	.top-v1 .top-v1-data li {
		top: 1px;
		padding: 6px 16px;
		margin-left: -5px;
		position: relative;
		border: solid 1px #eee;
	}		
}

/*Header Default
------------------------------------*/
.header {
	z-index: 999;
	position: relative;
}

.header .navbar {
	margin: 0;
	min-height: inherit;
}

.header .navbar-default {
	border: none;
	background: none;
}

.header .navbar-collapse {
	position: relative;
	/*max-height: inherit;*/
}

/*Brand*/
.header .navbar-brand { 
	z-index: 2;
	position: relative;
}

/*Navbar*/
.header .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	padding: 9px 20px;
	text-transform: uppercase;
}

.header .navbar-default .navbar-nav > .active > a {
	color: #72c02c;
}

/*Dropdown*/
.header .navbar-right .dropdown-menu {
	right: inherit;
}

.header .navbar .nav > li > a i.fa-angle-down {
	top: -1px;
	left: 1px;
	font-size: 12px;
	position: relative;
	margin: 0 !important;
}

/*Navber Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background: #72c02c;
}

.navbar-toggle {
	margin-top: 20px;
}

.navbar-toggle:hover {
	background: #5fb611 !important;
}

.navbar-default .navbar-toggle {
	border-color: #5fb611;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}

/*Serach Box*/
.header .navbar .search-open {
	right: 0; 
	top: 50px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #f8f8f8; 
}

.header .navbar .nav > li > a.search {
	color: #aaa;
	cursor: pointer;
	padding: 8px 11px 10px;
	background: #f8f8f8 !important;
}

.header .navbar .nav > li > a.search:hover {
	color: #fff;
}

.header .navbar .search-open form {
	margin: 0;	
}

.header .navbar a.search [class^="icon-"],
.header .navbar a.search [class*=" icon-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}

.header .navbar a.search [class^="icon-"].icon-large,
.header .navbar a.search [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}


/* EDIT LINUS */
.top-v1 .top-v1-data [class^="fa-"],
.top-v1 .top-v1-data [class*=" fa-"] {
  width: 0.97em;
}
.header .navbar .navbar-nav [class^="fa-"],
.header .navbar .navbar-nav [class*=" fa-"] {
  width: 0.7em;
}

/* EDIT LINUS */ 
.header .navbar a.search [class^="fa-"],
.header .navbar a.search [class*=" fa-"] {
  width: 1.25em;
  text-align: center;
  display: inline-block;
}

/* EDIT LINUS 
.header .navbar a.search [class^="fa-"].icon-large,
.header .navbar a.search [class*=" fa-"].icon-large {
  width: 1.5625em;
}
*/


/*Responsive @Media 
------------------------------------*/
@media (min-width: 767px) {
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	.header .navbar-nav {
		top: 2px;
		margin-top: 10px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li {
		margin-left: 1px;
	}

	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		color: #fff;
		background: #72c02c !important;
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus,	
	.header .navbar-default .navbar-nav > .active > a, 
	.header .navbar-default .navbar-nav > .active > a:hover, 
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #fff;
		background: #72c02c;		
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		padding: 0;
		border: none;
		background: #fafafa;
		min-width: 200px;
		border-radius: 0; 
		z-index: 9999 !important;
		margin-top: -2px !important;
		border-top: solid 2px #72c02c; 
		border-bottom: solid 2px #687074; 
	}

	.header .dropdown-menu li a { 
		color: #555; 
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 15px; 
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	/*Search Box*/
	.header .navbar .search-open {
		width: 330px;
	}	
}

@media (max-width: 767px) {
	/*Search Box*/
	.header .navbar .search-open {
		left: 20px; 
		top: inherit;
		bottom: -6px; 
		padding: 15px;
		border-top: none;
		box-shadow: none;
		background: none; 
	}	
}
