.iframe-document {
  max-width: 100%;
  max-height: 80%;
  width: 100%;
  height:auto;
  min-height: 30%;
}
span, li {
  #overlapping {
    color: #a94442;
    content: '\00BB';
    margin-right: 10px;
  }
}
