// Place all the styles related to the StartPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$highlight: 0 1px 0 #fff;
$margin: 25px;

.header-start {
	.navbar-nav {
		margin-top: $margin;
	}
	
	.navbar-brand-text {
		padding: 8px 0 0 30px;
		font-size: 15px;
		line-height: 17px;
		
		span {
			margin-left: -25px;
		}
	}
	
	.search-open {
		top: $margin + 41px !important;
	}
	
	@media screen and (max-width: 768px) {
		padding-bottom: $margin - 10px;
	}
}

.search-blocks {
	text-shadow: $highlight;
	background: none;
	
	h2 {
		font-size: 18px;
		text-shadow: $highlight;
		border-bottom: 1px dotted #eee;
		
		a, a:active, a:visited {
			color: #555;
		}
		
		a:hover {
			color: #eb7125;
			text-decoration: none;
		}
	}
}

.search-blocks-top-orange {	
	border-top: 1px solid #eb7125;
	background:none;
}
.blocks-top-orange {
  
  border-top: 1px solid #eb7125;
  background: none;
  
}