<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">
      <div class="content">
        <table>
          <tr>
            <td>
              <h3><%= yield(:title) %></h3>

              <%= yield %>

              <br/>
              <br/>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->
