<table width="100%" bgcolor="#e67e22" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td>
      <table width="700" bgcolor="#e67e22" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td>
            <!-- Left box  -->
            <table width="40%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td valign="top" style="padding: 50px 20px 0px; " class="center">
                  <a href="#"><img class="deviceWidth" width="300" hight="170" src="img/block_img/picture_test1.jpg"></a>
                </td>
              </tr>
            </table> <!--End left box-->
            <!--Right box-->
            <table width="49%"  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
              <tr>
                <td class="center">
                  <table  border="0" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                      <td  class="center" style="font-size: 16px; color: #ffffff; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 50px 10px 0; ">
                        Stay Connected
                      </td>
                    </tr>
                    <tr>
                      <td  class="center" style="font-size: 12px; color: #ffffff; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 10px; " >
                        How daughters not promotion fewArrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                      </td>
                    </tr>
                  </table>
                  <table  border="0" cellpadding="0" cellspacing="0" align="left" >
                    <tr>
                      <td valign="top" style="padding: 10px 15px 0px " class="center">
                        <a href="#"><img width="32" hight="32" src="img/icons/icon_facebook.png"></a>
                      </td>
                      <td valign="top" style="padding: 10px 15px 0px" class="center">
                        <a href="#"><img width="32" hight="32" src="img/icons/icon_twitter.png"></a>
                      </td>

                      <td valign="top" style="padding: 10px 15px 0px" class="center">
                        <a href="#"><img width="32" hight="32" src="img/icons/icon_youtube.png"></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table><!--End right box-->
          </td>
        </tr>
      </table>
      <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td width="100%" bgcolor="#e67e22">
            <!--Right Box-->
            <table width="20%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td style=" padding: 20px;">
                  <table  align="center">
                    <tr>
                      <td  valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                        <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="#">VIEW MORE</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table><!--End Right Box-->
            <!-- Left Box  -->
            <table width="80%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td class="left">
                  <table  border="0" cellpadding="0" cellspacing="0" align="left">
                    <tr>
                      <td  class="center" style="font-size: 16px; color: #ffffff; font-weight: bold; text-align: left; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: right; padding: 25px 20px 40px;">
                        Temporibus autem quibusdam et aut officiis debitis aut  promotion
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table><!--End Left Box-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
