<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>
                <%= t('.you_get_this_because') %>
              </p>
              <p>
                <%= Time.zone.now.year %> © <%= link_to(t('.fguild'), root_url) %>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
