<table width="700" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td>
      <table width="700"  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 30px 10px 0px; " >
            Drawings me opinions returned absolute in. Otherwise therefore did are unfeeling something. Certain be ye amiable by exposed Two differed husbands met screened his. Bed was form wife out ask draw. Wholly coming at we no enable
          </td>
        </tr>
        <tr>
          <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 10px 10px 0px; " >
            If you would prefer not to receive email communications from Unify Template click <a style="text-decoration: none; color: #e67e22;" href="#">here</a>
          </td>
        </tr>
        <tr>
          <td class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 10px 50px 30px; " >
            <%= Time.zone.now.year %> © F-teknologsektionen inom TLTH
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

