<table width="700" bgcolor="#f7f7f7" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
  <tr>
    <td   width="100%" bgcolor="#f7f7f7" class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 20px; vertical-align: middle; padding: 40px 0px 20px;">
      Excepteur sint occaecat cupidatat non proident
    </td>
  </tr>
  <tr>
    <td>
      <!--Start Two Pictures-->
      <table width="50%" border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
        <tr>
          <td width="100%" bgcolor="#f7f7f7">
            <!--Left box-->
            <table   border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td valign="top" style="padding: 20px 20px " class="center">
                  <a href="#"><img width="300" hight="170" src="img/block_img/picture_test7.jpg"></a>
                </td>
              </tr>
            </table> <!--End left box-->
            <!--Right box  -->
            <table  border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
              <tr>
                <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px 20px;">
                  Individual Clients
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px 40px; " >
                  Arrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law
                </td>
              </tr>
            </table><!--End right box-->
          </td>
        </tr>
      </table>
      <!--End Two Pictures-->
      <!--Start Two Texts-->
      <table width="50%" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
        <tr>
          <td bgcolor="#f7f7f7">
            <!--Right box-->
            <table   border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
              <tr>
                <td valign="top" style="padding: 20px 20px " class="center">
                  <a href="#"><img width="300" hight="170" src="img/block_img/picture_test8.jpg"></a>
                </td>
              </tr>
            </table> <!--End right box--> <!--End right box-->
            <!-- Left box  -->
            <table   border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth">
              <tr>
                <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px 20px;">
                  Corporate Clietns
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 0px 10px 40px; " >
                  Arrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law
                </td>
              </tr>
            </table> <!--End left box-->
          </td>
        </tr>
      </table>
      <!--End Two Texts-->
    </td>
  </tr>
  <tr>
    <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 20px 0; ">
      Delivering Product Excellence
    </td>
  </tr>
  <tr>
    <td width="100%" bgcolor="#f7f7f7" >
      <!--Left box-->
      <table width="33%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
        <tr>
          <td class="center">
            <table  border="0" cellpadding="0" cellspacing="0" align="left">
              <tr>
                <td valign="top" style="padding: 30px 20px 0 20px"  class="center">
                  <a href="#"><img class="deviceWidth" width="190" hight="190" src="img/block_img/picture_two.jpg"></a>
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 30px 20px 10px;">
                  Inovation
                </td>
              </tr>
              <tr>
                <td  class="center deviceWidth" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 20px 20px; " >
                  Arrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                </td>
              </tr>
            </table>
            <tr>
              <td style=" padding: 0 0 20px 0;">
                <table  align="center">
                  <tr>
                    <td  valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                      <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="#">VIEW MORE</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </td>
        </tr>
      </table><!--End Left box-->
      <!-- Right box  -->
      <table width="33%"  border="0" cellpadding="0" cellspacing="0" align="left" class="deviceWidth">
        <tr>
          <td class="center">
            <table  border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td valign="top" style="padding: 30px 20px 0; " class="center">
                  <a href="#"><img class="deviceWidth" width="190" hight="190" src="img/block_img/picture_two.jpg"></a>
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 30px 20px 10px; ">
                  Strong Partnership
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 20px 20px; " >
                  Arrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                </td>
              </tr>
            </table>
            <tr>
              <td style=" padding: 0 0 20px 0;">
                <table  align="center">
                  <tr>
                    <td  valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                      <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="#">VIEW MORE</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </td>
        </tr>
      </table> <!--End Right box-->
      <table width="33%"  border="0" cellpadding="0" cellspacing="0" align="leftmargin" class="deviceWidth">
        <tr>
          <td class="center">
            <table  border="0" cellpadding="0" cellspacing="0" align="center">
              <tr>
                <td valign="top" style="padding: 30px 20px 0; " class="center">
                  <a href="#"><img class="deviceWidth" width="190" hight="190" src="img/block_img/picture_one.jpg"></a>
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 16px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 30px 20px 10px; ">
                  Global Operation
                </td>
              </tr>
              <tr>
                <td  class="center" style="font-size: 12px; color: #687074; font-weight: bold; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 10px 20px 20px; " >
                  Arrival entered an if drawing requests iness not promotion few knowledge. contented. Yet winter law  romotion few knowledge contented behind
                </td>
              </tr>
            </table>
            <tr>
              <td style=" padding: 0 0 20px 0;">
                <table  align="center">
                  <tr>
                    <td  valign="top" style="padding: 7px 15px; text-align: center; background-color: #3498db;" class="center">
                      <a style="color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; font-family: Arial, sans-serif; text-alight: center;" href="#">VIEW MORE</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </td>
        </tr>
      </table> <!--End Right box-->
    </td>
  </tr>
</table>
