<% if links.present? && links.count > 0 %>
  <table  border="0" cellpadding="0" cellspacing="0" align="right" class="deviceWidth">
    <tr>
      <td  class="center" style="font-size: 13px; color: #272727; font-weight: light; text-align: center; font-family: Arial, Helvetica, sans-serif; line-height: 25px; vertical-align: middle; padding: 20px 0px 10px 0px;">
        <% links.each do |link, name| %>
          <%= link_to(name, link, style: 'text_decoration: none; color: #3b3b3b;') %>
          &nbsp; &nbsp;
        <% end %>
      </td>
    </tr>
  </table>
<% end %>

