<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-2 col-sm-12">
  <%= link_to(t('.new'), new_admin_song_category_path, class: 'btn primary') %>
  <%= link_to(t('.all_songs'), admin_songs_path, class: 'btn primary') %>
</div>

<div class="col-md-10 col-sm-12">
  <%= grid(@song_categories) do |g|
    g.column(name: SongCategory.human_attribute_name(:name), attribute: 'name') do |song_category|
      link_to(song_category, edit_admin_song_category_path(song_category))
    end
    #Column showing number of songs in category?
  end -%>
</div>
