<p>Hej <%= @resource.email %>!</p>

<p>Någon skickade efter en återställning av ditt lösenord på Fsektionen.se.</p>
<p>Fram till <%= (Time.zone.now + 6.hours) %> kan du ändra ditt lösenord på länken nedan:</p>

<p>
<%= link_to(t('devise.passwords.change'), edit_password_url(@resource, reset_password_token: @token)) %>
</p>

<p>
  Var det inte du som efterfrågade detta?
  Då finns det en möjlighet att någon utomstående försöker ta sig in, men frukta inte - de kommer inte kunna ändra ditt lösenord utan att använda länken i mejlet.
</p>
