<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 reg-page">
			<%= label_tag 'Nytt mejl',nil, :class => 'reg-header'%>			
			<%= render 'form'%>
			<%= link_to 'Tillbaka till start', root_url %>
		</div>
	</div>
</div>