<p>
You are on the bloodfeud donations admin page. Click on the button to confirm a user has donated blood.
</p>

<%= grid(@donated_grid) do |g|
    g.column(name: "Member name") do |user|
        user.firstname + " " + user.lastname
    end

    g.column(name: "Confirm donation") do |user|
      if !user.donation_confirmed
        link_to("Has donated", confirm_donation_admin_user_path(user), class: 'btn secondary', method: :post)
      else
        link_to("Oops! revert", unconfirm_donation_admin_user_path(user), class: 'btn danger', method: :post)
      end
    end

end %>


