<% provide(:title, t('work_post.title')) %>
<div class="col-md-10 col-md-offset-1 col-xs-12 reg-page">
  <h3 class="headline headline-md">
    <%= t(:new, attr: model_name(WorkPost)) %>
  </h3>
  <%= render 'form'%>
  <%= link_to t(:index, attr: models_name(WorkPost)), work_posts_path %>
  <%= link_to t(:back_to_root), root_path %>
</div>
