<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>
  <%= render('form', main_menu: @main_menu) %>
  <hr>
  <%= link_to(t('.destroy'), admin_main_menu_path(@main_menu),
              method: :delete, class: 'btn danger pull-right') %>
  <%= link_to(t('.all_menus'), admin_main_menus_path, class: 'btn secondary') %>
</div>
