<div class="col-md-6 col-md-offset-3 col-xs-12 reg-page">
  <div class="headline">
    <h3><%= title(t('.title')) %></h3>
  </div>
  <%= render('form', menu: @menu) %>
  <hr>
  <%= link_to(t('.destroy'), admin_menu_path(@menu),
              method: :delete, class: 'btn danger pull-right') %>
  <%= link_to(t('.all_menus'), admin_menus_path, class: 'btn secondary') %>
</div>
