<% breadcrumb_bar 'Skapa ny dokumentsamling', :new_document_group %>

<div class="col-md-6">
  <%= render partial: 'form' %>
</div>

<div class="col-md-3"></div>
<div class="col-md-3">
  <%= render partial: 'documents/shared/common_admin_menu' %>
</div>
