<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', blog_post: @blog_post, categories: @categories %>

  <hr>
  <%= link_to(t('.show_blog_post'), blog_post_path(@blog_post),
                                    class: 'btn secondary') %>
  <%= link_to(t('.all_blog_posts'), admin_blog_posts_path,
                                    class: 'btn secondary') %>
</div>
