<div class="col-md-8 col-md-offset-2 col-sm-12 reg-page">
  <div class="headline">
    <h1><%= title(t('.title')) %></h1>
  </div>

  <%= render 'form', notice: @notice %>

  <hr>
  <%= link_to(t('.administrate_notices'), admin_notices_path,
                                 class: 'btn secondary') %>
</div>
