<div class="headline">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-3 col-sm-12">
  <%= render('/admin/notices/sidebar', current: :new, news: @news) %>
</div>

<div class="col-md-9 col-sm-12">
  <%= render 'form', notice: @notice %>
</div>

