.col-md-8.col-md-offset-2
  %h1 New External Link

= render 'form'

.col-md-8.col-md-offset-2.margin-bottom-10
  = button_to 'Back', admin_ex_links_path, :method => 'get',
                                              class: 'btn-u btn-u-default'
