.acc-v1 {
  .panel-heading {
    box-shadow: none;
    padding: 0;

    a {
      background: $light-gray;
      display: block;
      font-size: 14px;
      padding: 5px 15px;

      .accordion-toggle {
        i {
          color: $unify-orange;
          margin-right: 8px;
        }

        &:hover i {
          color: $unify-orange;
        }
      }
    }
  }
}
