.fancybox-overlay.fancybox-overlay-fixed {
  z-index: 9999;
}

.zoomer:hover .overlay-zoom .zoom-icon {
  @include transform(scale(1));
  filter: alpha(opacity = 50);
  opacity: 0.4;
}

.overlay-zoom {
  @include transition(all 0.1s ease-in-out);
  cursor: pointer;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 90;

  .zoom-icon {
    @include transition(all 0.4s ease-in-out);
    @include transform(scale(0));
    -webkit-backface-visibility: hidden;
    background-color: $black;
    background-image: image-url("img/overlay-icon.png");
    background-position: 50%;
    background-repeat: no-repeat;
    filter: alpha(opacity = 0);
    height: inherit;
    opacity: 0;
    position: absolute;
    top: 0;
    width: inherit;
    z-index: 100;
  }
}
