.footer {
  .contact,
  .phone {
    display: block;
  }

  .margin {
    margin-bottom: 20px;
  }

  background: $light-gray;
  border-top: 1px solid $light-gray-text;
  color: $medium-gray-text;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-top: 20px;

  .margin-top-0 {
    margin-top: 0;
  }

  .headline {
    margin-bottom: 15px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    border: none;
    color: $gray-headline;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 0 1px 0 $white;
  }

  p,
  li {
    color: $medium-gray-text;
    font-size: 14px;
  }

  a {
    font-size: 14px;
  }

  .footer-subscribe {
    width: 85%;
  }

  .dl-horizontal,
  .dl-horizontal:hover {
    background: none;
    border: none;
  }

  .dl-horizontal {
    a {
      color: $gray-text;
    }

    img {
      border-color: $light-gray-text;
    }
  }
}

.row {
  &.footer {
    margin-left: 0;
    margin-right: 0;
  }
}
