.color-sea { color: $unify-sea;}
.color-red { color: $unify-red;}
.color-blue { color: $unify-blue;}
.color-green { color: $unify-green;}
.color-orange { color: $main-color;}
.color-green1 { color: $unify-green;}

.lft-img-margin { margin: 0 20px 5px 0;}
.rgt-img-margin { margin: 0 0 5px 10px;}

.overflow-hidden { overflow: hidden;}
.padding-left-5 { padding-left: 5px;}
.img-width-200 { width: 200px;}

.img-border {
  border: solid 3px $black;
}

.bg-light {
  background: $light-gray;
  border: solid 1px $gray-text;
  margin-bottom: 10px;
  padding: 10px 15px;
}

.bg-light:hover {
  border: solid 1px $gray-headline;
}

a {
  .read-more {
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $main-color;
      text-decoration: none;
    }
  }
}

.hover-effect {
  @include transition(all 0.4s ease-in-out);
}

.hover-effect-kenburn {
  @include transition(all 0.8s ease-in-out);
  left: 10px;
  margin-left: -10px;
  position: relative;

  &:hover {
    @include transform(scale(2) rotate(5deg));
  }
}

.margin-bottom-5,
.margin-bottom-10,
.margin-bottom-20,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-50,
.margin-bottom-60 {
  clear: both;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-35 {
  margin-bottom: 35px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.boxed-layout {
  border-left: solid 1px $gray-text;
  border-right: solid 1px $gray-text;
  padding: 0;
}

.responsive-video {
  height: 0;
  padding-bottom: 56.25%; // 16:9
  padding-top: 1px;
  position: relative;
}

.responsive-video iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.black-link {
  a {
    &,
    &:visited,
    &:hover,
    &:active {
      color: $gray-text;
    }
  }
}

.rounded-x {
  border-radius: 25%;
  height: 80px;
  position: center;
  width: auto;
}

.grid-height {
  height: 150px;
}

.border-dotted {
  border-style: solid;
  border-width: 1px;
}

.container.content {
  margin-top: 20px;
}
