.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.list-group-item {
  background-color: $white;
  border: 1px solid $border;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;
}
