.message {
  border: 1px solid $light-gray-text;
  border-radius: 7px;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 25px 20px 20px;

  &.by-admin {
    border: 2px solid $fsek-orange;
  }

  img {
    &.author {
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }
  }

  .body {
    overflow: hidden;

    p {
      color: $gray-text;
      line-height: 1.4;
    }
  }

  .heading {
    font-size: 13px;
    margin: 0 0 5px;
    position: relative;

    > a,
    > a:hover {
      color: $gray-headline;
    }

    > strong {
      padding-right: 5px;
    }

    > small {
      color: $gray-text;
      font-size: 12px;
      position: absolute;
      right: 0;
      top: 7px;
    }
  }

  .comments {
    font-size: 13px;
    margin-left: 15%;
    margin-top: 10px;
    padding-bottom: 0;

    .comment {
      &.new {
        margin-top: 10px;
      }
    }
  }
}
