.navbar {
  margin: 0;
  min-height: inherit;

  .nav {
    .fa.fa-angle-down {
      font-size: 12px;
      left: 1px;
      margin: 0;
      position: relative;
      top: -1px;
    }

    .open {
      .fa.fa-angle-down {
        @include transform(rotate(180deg));
      }
    }
  }
}

.navbar-brand {
  height: auto;
  left: 5px;
}

.navbar-brand-text {
  color: $gray-headline;
  font-size: 15px;
  line-height: 17px;
  overflow: visible;
  padding: 2px 0 0 35px;

  span {
    margin-left: -25px;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .navbar-brand-text {
    display: none;
  }

  .header .navbar {
    .navbar-nav {
      padding: 0 10px;
    }
  }
}
