.purchase {
  background: image-url("img/breadcrumbs.png") repeat;
  box-shadow: inset 0 0 4px $light-gray;
  margin-bottom: 30;
  padding: 30 0;

  p {
    margin-bottom: 0;
  }

  span {
    color: $gray-text;
    display: block;
    font-size: 28px;
    font-weight: 200;
    line-height: 35px;
    margin-bottom: 12px;
  }

  a {
    .btn-buy {
      background: $fsek-orange;
      color: $black;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin-top: 22px;
      padding: 12px 28px 9px;
      text-decoration: none;
      text-shadow: 0 1px 0 $fsek-orange;
      text-transform: uppercase;
    }

    .btn-buy:hover {
      background: $fsek-orange;
      box-shadow: 0 0 5px $fsek-pi-silver;
      color: $black;
      text-decoration: none;
    }
  }
}
