.sidebar-nav {
  li a {
    display: block;
    padding: 8px 30px 8px 10px;
  }

  a:hover {
    text-decoration: none;
  }

  li:hover {
    background: $fsek-pi-silver;
  }

  li {
    padding: 0;

    &.active,
    &.active:hover {
      background: $fsek-orange;
    }

    &.active,
    &.active:hover,
    &.active:focus {
      border-color: $fsek-orange;
    }

    &.active,
    &:hover {
      > a {
        color: $white;
      }
    }
  }
}
