.sidebar-nav {
  .list-group {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .list-group-item {
    border: 1px solid $border;
    display: block;
    margin-bottom: -1px;

    a {
      display: block;
      width: 100%;
    }

    &.active,
    &.active:hover {
      background: $fsek-orange;

      a {
        color: $white;
      }
    }

    &.active,
    &.active:hover,
    &.active:focus {
      border-color: $fsek-orange;
    }
  }
}
