<h1>Visa bilder</h1>
<% @images.each do |image| %>	
	<div class ="col-md-3">
		<%= button_to "X", album_image_path(@album, image), method: :delete,data: {confirm: 'Är du säker?'} %></br>
		<%= image_tag(image.foto(:small),class: 'thumb')%></br>		
	</div>		
<% end %>