<%=javascript_include_tag "jquery.colorbox-min"%>
<!--=== Content Part ===-->
    <div class="container content">				
    	<div class="gallery-page">
            <div class="row margin-bottom-20">
            	
            	<%@row = 0%>            	
            	<% @images.each do |p| %>
            		
	            	<%if (@row == 0)%>	            	
						<div class="row max-height">
					<% end %>					
							<div class="col-md-4 col-sm-6">			                    	
			                        <span class="overlay-zoom">  
			                            <%= image_tag(p.foto(:large),class: 'img-responsive gallery', rel: "album", href: p.foto(), id: p.id)  %>
			                            <span class="zoom-icon"></span>
			                        </span>                                              
			                    <div class=<%p.id%>>
			                    	
		                    	</div>
		                	</div>		     
					<% @row = @row+1%>						
					<%if (@row == 3)%>
						</div> <!--row-->
						<%@row = 0%>
					<% end %>
				<%end%>
				<% if @row > 0%>
					</div> <!--row-->
				<%end%>								
			</div><!--row margin-bottom-20 -->
            <div class="text-right">
                <ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a>3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>			
        </div><!--/gallery-page-->
    </div>
    </div>
    <!--=== End Content Part ===-->
<script>
$(document).ready(function() {
  		jQuery('img.gallery').colorbox({rel: "album",maxHeight:"100%",title:function(){
  var url = $(this).attr('href');
  return '<a href="' + url + '" class="btn btn-u">Like</a>';  
}
  		
  		
  		});
	});
</script>