

<div class="container content">
  		
    		<div class="headline headline-md"><h3>Albumets bilder</h3></div>
	        <div class="row high-rated margin-bottom-20">
	             <% @images.each do |p| %>	
	            	<div class="col-md-3 col-sm-6 col-xs-12 ">		                		
	            		<%= image_tag(p.foto(:small),class: 'thumb')%>
	            		<%= button_to "X", album_image_path(@album, p), method: :delete,data: {confirm: 'Är du säker?'} %><br>			                    		                    
	            	</div>		                 
	    		<% end %>                    
            </ul>
        
            <div class="clearfix"></div>
			
		</div>
	</div>
</div>
