<h1>Listing images</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
      	<td><%= image_tag(image.foto(:small), class: 'thumb')  %></td>        
        <td><%= button_to "Delete", album_image_path(@album, image), method: :delete,data: {confirm: 'Är du säker?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
