            <div class="col-md-6">                      
                <p class="copyright-space">
                    2013 &copy; Unify. ALL Rights Reserved. 
                    <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                </p>
            </div>
            <div class="col-md-6">  
                <a href="index.html">
                    <img id="logo-footer" src="assets/img/logo2-default.png" class="pull-right" alt="" />
                    <%= image_tag "unify/logo2-default.png", class: "pull-right", id: "logo-footer" %>
                </a>
            </div>
      
