<div class="col-md-6">                      
  <p class="copyright-space">
  2014 &copy; F-teknologsektionen inom TLTH.                    
  </p>         
</div>
<div class="col-md-6">   
  <p class="copyright-space pull-right">				
  Kontrollerar detta nät: <%= render 'contacts/kontakt', name: 'Spindelmän' %>
</p>              
</div>            
