        <div class="col-md-6">                      
            <p class="copyright-space">
                2014 &copy; F-teknologsektionen inom TLTH.                    
            </p>         
        </div>
        <div class="col-md-6">               
            <span class="pull-right">
            Webmaster:            
            <a href="mailto:spindelman@fsektionen.se"><i class="fa fa-envelope"></i>Spindelmännen</a>
            </span>                
        </div>            