<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left"><%= yield :breadcrumb_bar %></h1>
    <%= breadcrumbs style: :ul, separator: nil, class: 'pull-right breadcrumb', current_class: 'active' %>
  </div>
</div>

