<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <p class="year">
          <%= Time.current.year %> &copy; <%= t('.the_f_guild') %>.
        </p>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p class="contact">
          <%= t('.control_the_web') %>:
          <%= contact_from_slug(slug: 'spindelman') %>
        </p>
      </div>
    </div>
  </div>
</div>
