<div class="col-md-5 md-margin-bottom-40">
        <!-- About -->
        <div class="headline"><h2>About</h2></div>  
        <p class="margin-bottom-25 md-margin-bottom-40">Unify is an incredibly beautiful responsive Bootstrap Template for corporate and creative professionals.</p>    
        <!-- Monthly Newsletter -->
        <div class="headline"><h2>Monthly Newsletter</h2></div> 
          <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
          <form class="footer-subsribe">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address"> 
              <span class="input-group-btn">
                <button class="btn-u" type="button">Subscribe</button>
              </span>
            </div><!-- /input-group -->                    
          </form>                         
        </div><!--/col-md-4-->  
          
        <div class="col-md-4 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Recent Blog Entries</h2></div>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/6.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/10.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/11.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
           </div>
         </div><!--/col-md-4-->

    <div class="col-md-3">
      <!-- Monthly Newsletter -->
      <div class="headline"><h2>Contact Us</h2></div> 
      <address class="md-margin-bottom-40">
        25, Lorem Lis Street, Orange <br />
        California, US <br />
        Phone: 800 123 3456 <br />
        Fax: 800 123 3456 <br />
        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
      </address>

      <!-- Stay Connected -->
      <div class="headline"><h2>Stay Connected</h2></div> 
        <ul class="social-icons">
          <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
          <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
          <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
          <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
          <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
          <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
          <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
        </ul>
      </div><!--/col-md-4-->
 
