		<div class="col-md-5">
		        <div class="headline"><h2>Kort om sektionen</h2></div>  
			        <p class="margin-bottom-25 md-margin-bottom-40">
			        	F-sektionen är en ideell förening för studenter som läser vid något av programmen:
				        <ul>
				        	<li>Teknisk Fysik</li> 
				        	<li>Teknisk Matematik</li>
				        	<li>Teknisk Nanovetenskap</li>
				    	</ul> 
				    	<br>
			    		och har till ändamål att främja kamratskap bland medlemmarna och tillvarata medlemmarnas gemensamma intressen.
			    	</p>
		</div> <!-- Kort om sektionen--> 
   
<div class="col-md-4">        <!-- Vecktorn -->
        <div class="headline"><h2>Vecktorn</h2></div> 
          <p>Prenumerera på F-sektionens veckobrev som kommer ut varje läsvecka!</p>
          <form class="footer-subsribe">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="E-postadress"> 
              <span class="input-group-btn">
                <button class="btn-u" type="button">Prenumerera!</button>
              </span>
            </div><!-- /input-group -->                    
          </form> 
          <br>
  		<div class="headline"><h3>Håll dig uppdaterad</h3></div>
        <ul class="social-icons">
          <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
          <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
        </ul>  	                       
</div> <!-- Vecktorn-->
<div class="col-md-3">    
	<div class ="headline"><h2>Kontakta oss</h2></div>
		<p><i class="icon-phone"></i>
  		046 - 14 47 22
		<br>
		<i class="fa fa-envelope"></i>
		<a class="" href="mailto:ordf@fsektionen.se">ordf@fsektionen.se</a>
		<br>
		<br>
		<div class="row-fluid">			
			<div class="headline"><h3>Besöksadress</h3></div>
			<adress class="md-margin-bottom-40">
				Matematikhuset <br>
				Sölvegatan 18, <br>
				22362 Lund <br><br><br>
			</adress>
		</div>
		</p>
</div>


          
       <!-- <div class="col-md-4 md-margin-bottom-40">
          <div class="posts">
            <div class="headline"><h2>Recent Blog Entries</h2></div>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/6.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/10.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
              <dl class="dl-horizontal">
                <dt><a href="#"><%= image_tag "unify/sliders/elastislide/11.jpg" %></a></dt>
                <dd>
                  <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p> 
                </dd>
              </dl>
           </div>
         </div><!--/col-md-4-->
         



