<%= link_to('#', class: 'dropdown-toggle', data: { toggle: 'dropdown', delay: '0' }) do %>
  <%= fa_icon('users') %>
  <span>
    <%= models_name(Group) %>
  </span>
<% end %>

<ul class="dropdown-menu pull-right">
  <% current_user.groups.each do |g| %>
    <li><%= link_to g, group_path(g) %></li>
  <% end %>
</ul>
