<div class="collapse navbar-collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav navbar-right">
    <% cache('main_menu', skip_digest: true) do %>
      <% global_menus = GlobalMenus.new %>
      <%= menu_dropdown(menus: global_menus.guild_menus, title: t('menu.guild')) %>
      <%= menu_dropdown(menus: global_menus.member_menus, title: t('menu.members')) %>
      <%= menu_dropdown(menus: global_menus.company_menus, title: t('menu.companies')) %>
      <%= menu_dropdown(menus: global_menus.contact_menus, title: t('menu.contact')) %>
    <% end %>
  </ul>
</div>
