<div class="black-link">
	<ul class="list-inline list-unstyled" style="margin-top: 10px; text-align: left">
		<li><%= link_to "Startsida",:root %></li>
		<li><%= link_to "Om oss",:om %></li>
		<li><%= link_to "Utskott",:councils %></li>
		<li><%= link_to "Dokument",documents_path %></li>
	</ul>
</div>