<%utskott = Council.all%>
<ul class="list-inline list-unstyled black-link" style="margin-top: 10px; text-align: left">	
  <% utskott.each do |u| %>
    <li><%= link_to u.title, council_path(u) %></li>
  <% end %>
  <% if (current_user) && (current_user.moderator?(:utskott)) %>	
    <li><%= link_to (content_tag(:i, nil, class: 'fa fa-edit') + ' Lägg till utskott'), new_council_path, class: 'btn-u btn-u-small'%> </li>
  <% end %>
</ul>
